.container .container, .columns .container, .container.wrapping, .wpb_column .container { width:auto; margin:0; padding:0;}

/*Global*/

.no-pad-left {
  padding-left: 0;
}

.no-pad-right {
  padding-right: 0;
}

.next_post {
  float: right;
  width: 76px;
  text-align: center;
  border: none !important;
}

.previous_post {
  position: absolute;
  right: -171px;
  z-index: 2;
  border: none !important;
}

a.button,
a.button.bordered-bot,
div.button,
a.button.green {
  padding: 11px 10px;
  font-size: 10px;
  -webkit-transition: box-shadow 0.2s linear;
  -o-transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
  border-radius: 0;
  background: transparent !important;
  color: #58595b !important;
  border-color: #868589 !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-radius: 0 !important;
}

a.button.bordered-bot.large {
  margin-bottom: 0;
}

a.button,
a.button.bordered-bot:hover {
  text-decoration: none;
  border-color: #868589;
}

.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 10px;
}

a:hover {
  text-decoration: none !important;
}

.articles_button {
  margin: 20px 0 !important;
}

h2.mex-title {
  font-family: Gotham Medium;
  text-transform: uppercase;
  display: block;
  font-size: 20px;
  line-height: 1;
  border: none;
  padding-bottom: 0;
  margin: 40px 0;
  color: #58595b;
}

h4.subtitle {
  font-size: 16px;
  font-family: Gotham Book;
  margin: 0;
  padding-bottom: 0;
  border-bottom: 0;
  color: #58595b !important;
  text-transform: capitalize;
  line-height: 1.3;
  font-weight: normal;
  letter-spacing: 0;
}

h3.headline {
  color: #58595b;
  font-size: 25px;
  margin: 0;
  text-align: left;
  line-height: 1;
  text-transform: uppercase;
  font-family: Gotham Bold;
  padding-left: 15px;
}

.max-title {
  margin: 40px 0 0;
}

.max-title h2 {
  color: #58595b;
  font-size: 25px;
  margin: 0;
  text-align: left;
  line-height: 1;
  text-transform: uppercase;
  font-family: Gotham Bold;
  margin-bottom: 0;
}

.max-title::after {
  content: none;
}

p {
  line-height: 1.4;
  font-size: 14px;
  color: #58595b;
}

.bold {
  font-family: Gotham Bold !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #9b9b9b !important;
}

.wrapper2 {
  min-height: 100vh;
}

/*Header*/

html {
  border-top: 12px solid #58595b;
  transition: border-top 0.5s linear;
}

.equalizer {
  border-top: none;
  margin-top: 180px !important;
}

body {
  background: #fff;
font-family: Gotham Book !important;
  font-size: 100%;
}

* {
  text-rendering: optimizeLegibility !important;
}

#wrap {
  box-shadow: none;
  z-index: 500;
}

.page-template-homepage .slider .vc_column-inner {
  margin-top: 35px;
}

.event_date {
  display: inline-block;
  border: none;
  text-align: center;
}

.event_date img {
  float: left;
  margin-top: 15px;
  margin-left: 0px;
  max-width: 90px !important;
}

#header .logo img {
  margin-top: 13px !important;
}

.secondary_logo {
  display: inline-block;
  position: absolute;
  text-align: left;
  margin-top: 13px;
}

.login {
  text-align: right;
  margin-bottom: 20px;
}

.login a {
  font-size: 11.12px;
  text-transform: uppercase;
  padding: 9px 0 8px;
  display: inline-block;
  font-weight: 700;
  margin-top: 7px;
  width: 100%;
  max-width: 96px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1.5px;
}

.login a:hover {
  color: #000;
  text-decoration: none;
}

.login .log-in-out {
  background: #b6cedb;
  color: #666 !important;
  cursor: pointer;
}

.login .subscribe {
  margin-left: 7px;
  cursor: pointer;
}

.top-bar {
  border-bottom: 0;
  padding: 0;
}

.top-bar .socialfollow a {
  width: 25px;
  height: 25px;
  padding: 0;
  text-align: center;
  background-color: #58595b;
  border-radius: 100%;
  margin-right: 6px;
}

.top-bar .socialfollow a:hover {
  background-color: #58595b;
}

a.search,
.top-bar .socialfollow a.search {
  background: transparent;
  display: inline !important;
  margin-left: 13px;
  width: auto;
  height: auto;
}

.top-bar .socialfollow a.search {
  margin-left: 5px;
}

h6.blog-cat {
  word-wrap: break-word;
  text-transform: lowercase;
}

a.search i,
.top-bar .socialfollow a.search i {
  margin: 0;
  color: #58595b;
  font-size: 17px;
}

.no-border {
  border: none !important;
}

.top-bar .socialfollow {
  margin-right: 0;
}

.top-bar .socialfollow a:last-child {
  margin-right: 0;
}

.top-bar .socialfollow a i {
  margin-top: 5px;
  font-size: 14px;
  color: #fff;
}

.top-bar .socialfollow a i.fa-instagram {
  margin-right: -1px;
}

.top-bar .socialfollow a:hover i {
  color: #fff !important;
}

.navbar-default .navbar-offcanvas {
  background-color: #fff !important;
}

#nav li#magic-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 5px;
}

#header {
  transition: top 0.2s ease-in-out;
  padding-top: 13px;
  padding-bottom: 22px;
}

#header .logo img {
  margin-top: 0;
}

#header.fixed_header {
  position: fixed;
  top: 0;
  z-index: 3;
}

.fixed_header_menu {
  position: fixed !important;
  top: 117px;
  z-index: 3;
  right: 0;
  border-bottom: 0 !important;
}

.header_menu {
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.header_menu .container {
  position: static;
}

.header_menu .container .row {
  position: static;
}

#nav > ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex !important;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#nav > ul > li {
  padding: 0;
  /*position: relative;*/
}
#nav > ul:not(.sub-meu) > li a.has-icon-important{
  font-family: Gotham Bold;
}
#nav > ul:not(.sub-meu) > li a.has-icon-important:before{
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    background: url(../images/icon-important.png) no-repeat;
    background-position: center;
    left: calc(50% - 16px);
    top: -36px;
    opacity: 0;
    background-size: 26px;
}
#menu.header_menu .sub-menu li a {
padding: 0 !important;
}
#nav > ul > li a {
  padding: 0;
}

#nav > ul > li > a {
  letter-spacing: 2px;
}

.header_menu #nav-wrap {
  height: 100%;
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  position: static;
}

.header_menu #nav > ul {
  margin-bottom: 0;
  padding: 0 15px;
  margin-left: 0;
  height: 50px;
}

#menu.header_menu ul li a {
  padding: 20px 0 19px;
  color: #58595b;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  font-family: Gotham Book;
}

.header_menu .dropdown-menu .active > a {
  background-color: transparent !important;
}

.offcanvas-toggle .icon-bar {
  background: #58595b;
}

/*#menu.header_menu .sub-menu {
  width: 100vw;
  position: absolute;
  left: 0;
  top: 51px;
  border: none;
  border-radius: 0;
  visibility: hidden;
  transition: visibility 0s linear , height 0s ease-out;
  justify-content: space-around;
  display: flex;
  padding: 0;
}*/

/*#menu.fixed_header_menu .sub-menu {
  top: 51px;
}*/

/*#menu.header_menu .sub-menu li .sub-menu {
  top: 91px;
  margin-left: 0;
  left: -1px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}*/

/*#menu.header_menu .sub-menu li {
  display: inline-block;
  position: static;
}*/

#menu.header_menu .sub-menu li {
  float: left;
  width: 100%;
}

#menu.header_menu .sub-menu li a {
  margin: 16px 0;
  padding: 0;
  color: #909090;
  font-size: 12px;
  -webkit-transition: opacity 0.5s ease-in-out, margin 0.4s linear;
  -o-transition: opacity 0.5s ease-in-out, margin 0.4s linear;
  transition: opacity 0.5s ease-in-out, margin 0.4s linear;
}

/*.header_menu #nav > ul li:hover > ul.sub-menu {
  display: flex;
  justify-content: space-around;
  visibility: visible;
}*/

#menu.header_menu .sub-menu:before, #menu.header_menu .sub-menu:after {
  border: none;
  border-color: transparent;
}

#menu.header_menu #nav > li:hover > .sub-menu > li:hover > a {
  font-family: Gotham Bold;
}

#menu.header_menu #nav > li:hover > .sub-menu > li:hover > .sub-menu > li:hover > a {
  font-family: Gotham Bold;
}

button.navbar-toggle {
  position: absolute;
  left: 0;
  z-index: 2;
  background: transparent;
  transition: all 0.2s ease-in-out;
  margin-right: 0;
}

button.navbar-toggle:active,
button.navbar-toggle:focus,
button.navbar-toggle:hover {
  box-shadow: none;
}

button.navbar-toggle.is-open {
     left: 56vw;
    z-index: 99999;
    top: -26vw;
}

/*end of header*/

/*footer*/

ul#nav2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex !important;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  float: right;
}

ul#nav2 > li {
  padding: 0;
  position: static;
}

#nav2 li {
  list-style: none;
  padding: 0 12px;
  margin: 0;
  float: left;
  display: block;
  height: 100%;
  vertical-align: middle;
}

#nav2 a {
  display: block;
  font-size: 12px;
  font-weight: 600;
  padding: 0px;
  line-height: 30px;
  color: #666;
  outline: 0;
  opacity: 1;
  text-align: center;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: color .15s ease-in-out;
  transition: all .15s ease-in-out;
}

#nav2 li#magic-line2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 5px;
}

#footer {
  height: auto !important;
}

.footer_menu {
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  width: 100%;
  background-color: #fff;
}

.footer_menu .row > div {
  line-height: 1;
}

.footer_menu ul#nav2 {
  margin-bottom: 0;
}

.footer_menu ul#nav2 li a {
  margin: 19px 0;
  line-height: 1;
  color: #58595b;
  font-size: 12px;
  text-transform: uppercase;
  font-family: Gotham Book;
  padding: 0 16px;
}

.footer_menu .newsletter {
  padding: 12px 15px 11px 15px;
  margin-right: 16px;
}

.footer_menu .newsletter span {
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 11px;
  line-height: 15.5px;
  font-size: 12px;
}

.footer_menu .newsletter form.mail-signup {
  display: inline-block;
  margin-bottom: 0;
  width: 100%;
  vertical-align: text-bottom;
  max-height: 27px;
}

.footer_menu .newsletter form.mail-signup input {
  display: inline;
  margin-bottom: 0;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 6px 4px;
  padding-left: 12px;
  min-height: 100%;
  font-size: 12px;
  min-width: 100%;
  height: 29px;
  line-height: 12px;
  -webkit-appearance: none;
  border-radius: 1px;
  color: #888;
}

#search_button {
  color: #c8c8c8;
  border-radius: 0;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: table-cell;
  border-left: none;
  background: url("../images/search.png") no-repeat center #fdfdfd;
  padding: 0 18px;
  border-color: #58595b;
  height: 49px;
}

#search_button > input {
  background: none;
  padding: 0;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  position: absolute;
  margin: 0;
  left: 4px;
  top: 9px;
}

#search_button > input:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#search_input {
  margin: 0;
  border-right: 0;
  height: 49px;
  border-color: #58595b;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 45px;
}

#subscription_button .hidden_submit {
  width: 33px;
  height: 29px;
  top: -1px;
}

.language_dropdown {
  width: 50%;
  display: inline-block !important;
}

.language_dropdown label {
  float: left;
}

.language_dropdown.language_dropdown_writing {
  padding-left: 15px;
}

.language_dropdown.language_dropdown_reading {
  padding-right: 15px !important;
}

input::-webkit-input-placeholder {
  line-height: normal !important;
}

.footer_menu .newsletter form.mail-signup a.submit {
  color: #c8c8c8;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  position: relative;
  display: table-cell;
  font-weight: 900;
  font-size: 9px;
  border-left: 1px solid #004f59;
}

.footer_menu .newsletter form.mail-signup input.hidden_submit {
  background: none;
  padding: 0;
  width: 41px;
  height: 29px;
  text-indent: -9999px;
  position: absolute;
  left: 0;
  top: 0;
}

.footer_menu .newsletter form.mail-signup input.hidden_submit:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.footer-in .col-md-12 .widget {
  text-align: left;
  padding-left: 16px;
}

/*Theme footer*/

#footer {
  background-color: #fff;
  border-top: 0;
  border-bottom: 12px solid #58595b;
  padding-top: 20px;
}

.partner, .sponsors {
  display: inline-block;
}

.partner img, .sponsors img {
  height: 42px;
}

.partner {
  padding: 0 43px 14px 44px;
  border-left: 1px solid #a1a1a1;
  border-right: 1px solid #a1a1a1;
  text-align: center;
}

.footer-in .partner p, .footer-in .social p {
  margin-bottom: 25px;
  font-size: 10px;
  letter-spacing: 1px;
  margin-left: -25px;
  text-align: center;
}

.sponsors {
  margin-top: 0;
  vertical-align: middle;
  text-align: center;
  padding-right: 30px;
}

.sponsors img {
  height: 32px;
}

.footer-in .sponsors p {
  margin-bottom: 28px;
  font-size: 10px;
  letter-spacing: 1px;
}

.sponsors .vertical-align {
  vertical-align: text-top;
  margin-top: 14px;
}

/*.sponsors img:last-child {
  margin-top: 25px;
  margin-right: 0;
}*/

.footer-in {
  padding-bottom: 20px;
}
.related-articles-mobile {
  display:none;
}

.footer-in h5.subtitle {
  margin-bottom: 0;
  margin-top: 0;
  border: none;
  padding-bottom: 0px;
  box-shadow: none;
  text-shadow: none;
  font-size: 16px;
  color: #58595b;
  font-family: Gotham Bold;
  line-height: 1;
  margin-bottom: 9px;
}

.advertising {
  overflow: hidden;
}

.footer-in p {
  font-size: 12px;
  color: #58595b;
  margin-bottom: 0;
  line-height: 1.42;
  letter-spacing: 1px;
}

.footer-in p a {
  color: #58595b;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
}

.footer-in p a:hover {
  color: #58595b;
}

/*end of footer*/

/*Main Content Home page*/

.border-bottom {
  border-bottom: 1px solid #d6d6d6;
}

.vc-infobox-wrap {
  -webkit-transition: border-color 0.3s linear, background-color 0.3s linear;
  -o-transition: border-color 0.3s linear, background-color 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  z-index: 0;
  text-align: center;
  min-height: 170px;
  max-height: 170px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  padding: 15px;
  clear: both;
}

.vc-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.85;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  z-index: 0;
}

.vc-infobox-wrap ~ p {
  font-size: 12px;
}

#gform_submit_button_4 {
  background-color: #959595;
  float: right;
  margin-right: 0;
  text-transform: uppercase;
  border-radius: 0;
  padding: 12px 35px;
}

.clear-both {
  clear: both;
}

.carousel-showsixmoveone .vc-infobox-wrap {
  margin-bottom: 20px;
  min-height: 170px !important;
}

.carousel-showsixmoveone.slide {
  width: 100% !important;
}

.vc-infobox-wrap:hover {
  border-color: #58595b !important;
}

.vc-infobox-wrap a {
  display: block;
  opacity: 1;
  color: #58595b;
  border-bottom: 0 !important;
}

.vc-infobox-wrap a:hover, .vc-infobox-wrap a:focus {
  text-decoration: none;
  color: #58595b;
  outline: 0;
}

.vc-infobox-wrap h2 {
  text-transform: uppercase;
  margin-top: 15px;
  transition: margin-top 0.3s linear;
  margin-bottom: 16px;
  font-size: 20px;
  margin-bottom: 0;
}

.vc-infobox-highlights-content {
  margin-top: 20px;
}

.vc-infobox-wrap:hover h2 {
  margin-top: 0;
}

.vc-infobox-wrap:hover .vc-infobox-img {
  opacity: 0;
}

.vc-infobox-wrap .vc-infobox-img {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  z-index: -2;
}

.vc-infobox-wrap ~ p {
  line-height: 1.5;
  margin-bottom: 3px;
}

.vc-infobox-wrap:hover .vc-infobox-hover-title {
  margin-top: 0;
}

.vc-infobox-wrap .vc-infobox-hover-text,
.vc-infobox-wrap .vc-infobox-hover-text-two,
.vc-infobox-wrap .vc-infobox-hover-title {
  opacity: 0;
  height: 0;
  -webkit-transition: opacity 0.4s linear, height 0.3s linear, margin-top 0.3s linear;
  -o-transition: opacity 0.4s linear, height 0.3s linear, margin-top 0.3s linear;
  transition: opacity 0.4s linear, height 0.3s linear, margin-top 0.3s linear;
  margin-top: 10px;
}

.vc-infobox-wrap:hover .vc-infobox-hover-text,
.vc-infobox-wrap:hover .vc-infobox-hover-text-two,
.vc-infobox-wrap:hover .vc-infobox-hover-title {
  height: auto;
  opacity: 1;
  margin-top: 0;
}

.vc-infobox-wrap .vc-infobox-title {
  margin-top: 0;
}

.vc-infobox-wrap:hover .vc-infobox-title {
  margin-bottom: 10px;
}

.vc-infobox-wrap p {
  font-size: 14px;
  color: #58595b;
  margin-bottom: 0;
  line-height: 1.4;
}

.vc-infobox-highlights-content span {
  color: #58595b;
  font-family: Gotham Bold;
  font-size: 20px;
}

.vc-infobox-news-content {
  overflow: hidden;
}

.vc-infobox-wrap ~ .vc-infobox-highlights-content.vc-infobox-news-content p {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 3px !important;
  font-family: Gotham Book;
  min-height: 0;
}

.vc-infobox-highlights-content h3.highlights_title {
  font-size: 16px;
  color: #58595b;
  line-height: 1;
  font-family: 'Gotham Bold Regular';
  margin-top: 0px;
  min-height: 40px;
}

.practical_infobox .vc-infobox-news-content {
  min-height: initial;
}

.practical_infobox .vc-infobox-news-content h2 {
  margin-bottom: 10px;
  font-family: Gotham Bold;
}

.custom_carousel .owl-ca-carousel .owl-ca-wrapper-outer .owl-ca-item .vc_row {
  margin: 0 15px;
}

.custom_carousel .owl-ca-carousel .owl-ca-wrapper-outer .owl-ca-item .vc_row > .wpb_column {
  padding: 0;
}

.custom_carousel .owl-ca-carousel .owl-ca-wrapper-outer .owl-ca-item .vc_row > .wpb_column > .vc_column-inner {
  padding: 0;
}

.carousel-anything-container.owl-ca-theme.has-arrows .owl-ca-controls .owl-ca-buttons div {
  background-image: url("../images/arrow-left.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  width: 25px !important;
  height: 27px;
  border-radius: 0;
  opacity: 1;
}

.carousel-anything-container.owl-ca-theme.has-arrows .owl-ca-controls .owl-ca-buttons div.owl-ca-prev {
  background-image: url("../images/arrow-left.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.carousel-anything-container.owl-ca-theme.has-arrows .owl-ca-controls .owl-ca-buttons div.owl-ca-next {
  background-image: url("../images/arrow-right.png");
  background-repeat: no-repeat;
}

.carousel-anything-container.owl-ca-theme.has-arrows .owl-ca-controls .owl-ca-buttons div.owl-ca-next::before,
.carousel-anything-container.owl-ca-theme.has-arrows .owl-ca-controls .owl-ca-buttons div.owl-ca-prev::before {
  content: '';
}

.infobox_carousel .inner_wrap {
  padding-bottom: 40px;
}

.infobox_carousel h2 {
  padding-left: 16px;
}

.vc-infobox-news-content {
  text-align: left;
}

.vc-infobox-news-content h2 {
  font-size: 16px;
  margin-bottom: 3px;
  line-height: 1.5;
  color: #58595b;
  font-family: 'Gotham Bold Regular';
}

.vc-infobox-wrap ~ .vc-infobox-news-content p {
  font-size: 12px;
  color: #58595b;
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 6px;
  min-height: 70px;
}

.vc-infobox-news-wrap h2.vc-infobox-hover-title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 0;
}

.vc-infobox-news-content a.button.bordered-bot {
  float: left;
  padding: 11px 10px;
  margin-left: 1px;
}

.play_icon {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}

.play_icon i.fa-play {
  font-size: 22px;
  margin-top: 18px;
  margin-left: 6px;
}

.wpb_content_element {
  margin-bottom: 0;
}

.blox.parallax-sec.row_bg_image_cap {
  max-width: 100%;
}

.row_bg_image_cap .wpb_row {
  min-height: 487px;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
}

.row_bg_image_cap .caption_column {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 34px;
  min-height: 487px;
}

.row_bg_image_cap .caption_column .vc_column-inner {
  max-width: 100%;
}

.row_bg_image_cap .caption_column h2.mex-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: Gotham Book;
}

.row_bg_image_cap .caption_column p {
  color: #58595b;
  font-size: 14px;
  margin-bottom: 92px;
  line-height: 1.4;
}

.latest-info {
  margin: 0;
}

.latest-info a.button.bordered-bot {
  padding: 12px 0;
  letter-spacing: 1px;
  font-size: 10px;
  width: 100%;
  max-width: 98px;
  float: right;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}

/*end of main content Home page*/

/*Modal styling*/

#myModal.modal.fade {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: -9999;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#myModal.modal.in {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  padding-right: 0 !important;
}

.modal .modal-dialog {
  width: 100%;
  max-width: 510px;
  margin: 0;
}

.modal .modal-dialog .modal-content {
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 102px;
  border: 1px solid #959595;
  position: relative;
  -webkit-box-shadow: 0px 0px 29px -4px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 0px 29px -4px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 29px -4px rgba(0, 0, 0, 0.68);
}

.modal-content .modal-header {
  border-bottom: 0;
  padding-bottom: 0;
}

.modal-content .modal-header h3 {
  display: inline;
  text-transform: uppercase;
  font-family: Gotham Bold;
  font-size: 25px;
  color: #58595b;
}

.modal-content .modal-header .close {
  color: #000;
  font-size: 20px;
  transition: all 0.2s linear;
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-content .modal-header .close:hover {
  transform: scale(1.5);
  box-shadow: none;
}

.modal-content .modal-body {
  padding: 15px 0;
}

.modal-content .modal-body form input {
  margin-bottom: 15px;
  padding-left: 17px;
  line-height: 1;
  border: 1px solid #cdc4c5;
  font-family: Gotham Book;
  color: #58595b;
  font-size: 16px;
}

.modal-content .modal-body form .button {
  width: 100%;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  padding: 14.5px 0;
  border: 1px solid #e3e3e3;
  background-color: #959595;
  line-height: 1;
  font-size: 16px;
  font-family: Gotham Bold;
  font-weight: 700;
  transition: all 0.2s linear;
}

.modal-content .modal-body form a.lost {
  text-transform: uppercase;
  color: #959595;
  font-size: 12px;
}

/*Video modal*/

#videoModal.fade {
  z-index: -9999;
}

#videoModal.fade.in {
  z-index: 9999;
}

#videoModal .modal-wrapper {
  width: 100%;
  max-width: 50%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#videoModal .modal-dialog {
  width: 102%;
  max-width: 100%;
  max-height: 80vh;
  overflow-y: scroll;
}

.gform_wrapper .gform_footer {
  width: calc(100% + 16px);
}

#videoModal .modal-dialog .modal-content {
  padding: 67px;
  position: relative;
}

#videoModal .modal-dialog .modal-body {
  padding: 0;
  text-align: left;
  position: static;
}

#videoModal .modal-dialog .modal-body button {
  position: absolute;
  top: 10px;
  right: 35px;
  font-size: 35px;
  -webkit-transition: transform 0.25s linear;
  -o-transition: transform 0.25s linear;
  transition: transform 0.25s linear;
}

#videoModal .modal-dialog .modal-body button:hover {
  transform: scale(1.2);
  box-shadow: none;
}

#videoModal .modal-dialog .modal-body h2 {
  margin: 0;
}

#videoModal .modal-dialog .modal-body h2.popup-tittle-text {
  font-family: Gotham Medium;
  text-transform: uppercase;
  display: block;
  font-size: 20px;
  line-height: 1;
  border: none;
  padding-bottom: 0;
  margin: 40px 0 27px;
  color: #000000;
}

#videoModal .modal-dialog .modal-body p {
  color: #000000;
}

/*end of modal styling*/

/*Gravity form styling*/

.gform_body ul {
  padding-right: 16px !important;
}

.gform_body ul li {
  display: flex;
  align-items: flex-start;
  margin-top: 14px;
  padding-right: 0 !important;
}

.gform_body ul li.gallery_bio {
  display: block;
}

.gform_body ul li.gallery_bio label {
  vertical-align: top;
}

.gform_body ul li.gallery_bio .gfield_description {
  max-width: 75%;
  float: right;
  padding-top: 0;
  padding-bottom: 20px;
}

.gform_wrapper li.gfield.field_description_below + li.gsection {
  margin-right: 0 !important;
}

.gform ul li.hidden_label label {
  display: none;
}

.gform_body ul li label {
  width: 20%;
  font-size: 14px;
  font-weight: normal !important;
  color: #58595b;
  margin-top: 10px;
  margin-right: 5%;
}

.gform_body ul li h2 {
  color: #58595b;
  margin-bottom: 15px;
  width: 38%;
}

.gform_body ul li input,
.gform_body ul li select,
.gform_body ul li textarea {
  border-color: #cecece;
  width: 100% !important;
  background-color: #fff;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  padding-left: 17px !important;
  font-size: 14px !important;
}

.gfield_radio li label,
.gfield_radio li input {
  line-height: 1 !important;
  margin-top: 0 !important;
  height: 15px;
}

.gform_body .gfield_radio li input {
  padding-left: 0 !important;
}

.gform_body ul li select {
  height: 36px;
  padding: 0 !important;
  padding-left: 8.5px !important;
}

.gform_body ul li input:focus,
.gform_body ul li textarea:focus {
  color: #58595b;
}

.gform_body ul li select:focus {
  border-color: #aaa;
}

.gform_body ul li .ginput_container_fileupload input {
  padding-left: 0 !important;
  background-color: #fafafa !important;
}

.gform_body ul li label span.gfield_required {
  color: #58595b;
  margin-left: 0;
}

.gform_body ul li > div.ginput_container {
  display: inline-block;
  width: 75%;
}

.gform_wrapper .gform_body .top_label div.ginput_container {
  margin-top: 0;
}

.gallery_form {
  max-width: 800px;
  margin: 0 auto;
}

.gallery_form .container {
  max-width: 800px;
}

#firsttimepopup .bootstrap-select button {
  border-radius: 0;
  height: 36px;
}

#headline {
  border: none;
  padding-top: 45px;
  padding-bottom: 0;
}

#headline h3 {
  color: #58595b;
  font-size: 25px;
  margin: 0;
  text-align: left;
  line-height: 1;
  text-transform: uppercase;
  font-family: Gotham Bold;
  padding-left: 15px;
}

#main-content.container {
  padding-top: 0;
}

.gform_body ul li.group_1 {
  background: #fafafa;
  margin: 0 16px 0 0 !important;
  padding: 15px 30px 15px !important;
  margin-right: 0 !important;
}

.gform_button.button {
  background-color: #959595;
  float: right;
  margin-right: 0;
  text-transform: uppercase;
  border-radius: 0;
  padding: 12px 35px !important;
}

.gform_button.button:active {
  color: #fff;
}

.gform_button.button:hover {
  background-color: #959595;
}

.ginput_container_select select {
  padding-left: 17px !important;
  padding-right: 18px !important;
}

.inline_fields {
  display: inline-block !important;
  width: 25%;
  padding-right: 0 !important;
}

.inline_fields label {
  width: 100%;
  margin-bottom: 0;
  display: block !important;
}

.inline_fields input {
  display: none;
}

.inline_input {
  display: inline-block !important;
  margin-top: 0 !important;
  width: 37.5%;
  vertical-align: middle;
}

.gform_body ul li.inline_input_left {
  padding-right: 8px !important;
}

.gform_body ul li.inline_input_right {
  padding-left: 8px;
}

.inline_input label {
  display: block !important;
  margin-top: 0 !important;
  margin-bottom: 10px;
}

.inline_input div.ginput_container,
.inline_input div.ginput_container input {
  width: 100% !important;
}

.inline_zip {
  width: 90%;
  display: inline-block !important;
}

.inline_zip label {
  width: 27.78% !important;
  margin-right: 0 !important;
  vertical-align: top;
}

.inline_zip .ginput_container {
  width: 72.22% !important;
}

.inline_checkbox {
  width: 10%;
  display: inline-block !important;
  vertical-align: top;
}

.inline_checkbox .ginput_container {
  vertical-align: middle;
}

.inline_checkbox > label {
  display: none !important;
}

.inline_checkbox .ginput_container li {
  float: right;
}

/*Page Styling*/

.page_content h3 {
  font-size: 20px;
  font-family: Gotham Book;
  margin: 0;
  padding-bottom: 0;
  border-bottom: 0;
  color: #58595b;
  line-height: 1.3;
  font-weight: normal;
}

.page_content h3 strong {
  font-family: Gotham Medium;
  font-size: inherit;
}

.page_content p {
  font-size: 14px;
  line-height: 1.4;
  color: #58595b;
  margin: 0;
}

.page_content_slider p {
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

a:focus {
  text-decoration: none;
}

.mb-50 {
  overflow: hidden;
}

*:focus {
  outline: none !important;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  width: auto;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
  transform: translate(-50%, -35%) !important;
  border-top: 11px dashed;
  border-right: 7px solid transparent;
  border-top-color: #58595b;
  border-bottom: none;
  border-left: 7px solid transparent;
  right: 5px;
}

button:focus,
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}

.page_content li {
  margin-bottom: 0;
  font-size: 14px;
  color: #58595b;
}

.event_select .btn-group {
  width: 100% !important;
}

.event_select .bootstrap-select > button {
  background-color: #fff;
  border-radius: 0px;
  border: 1px solid #58595b;
  padding: 15px 15px;
  font-family: 'Gotham Book';
  font-size: 12px;
  overflow: hidden;
}

.event_select .bootstrap-select > button .filter-option {
  text-align: center !important;
  color: #58595b;
}

.page_content .bootstrap-select {
  width: initial !important;
  width: auto !important;
}

.page_content .bootstrap-select > button {
  border-radius: 0;
  border-color: #78787d;
  padding: 19px 50px 19px 40px;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
}

.page_content .bootstrap-select .dropdown-menu li {
  margin-bottom: 0;
}

.page_content .single_image figure {
  width: 100%;
}

.page_content .read_more {
  margin-top: 40px;
}

.page_content .single_image figure img {
  width: 100% !important;
}

.bootstrap-select > select {
  display: none !important;
}

.page_content.page_content_head p {
  font-size: 16px;
}

.page_content a {
  color: #58595b;
  border-bottom: 1px solid #ddd;
}

.page_content a:hover {
  color: #58595b;
}

.page_content strong {
  font-size: 13px;
  font-family: Gotham Bold;
}

.page_content strong.underline {
  border-bottom: 1px solid #dddddd;
}

.page_content.page_content_head strong {
  font-size: 16px;
}

.page_content h4.subtitle {
  font-size: 14px;
  font-family: Gotham Bold;
  margin-top: 0;
  margin-bottom: 22px;
  padding-bottom: 0;
  border-bottom: 0;
  color: #58595b;
  text-transform: capitalize;
  line-height: 1;
}

.contact_content h4.subtitle {
  font-size: 16px;
}

.page_content h2.mex-title {
  font-family: Gotham Medium;
  margin: 40px 0;
  text-transform: uppercase;
  display: block;
  font-size: 20px;
  line-height: 1;
}

.vc_custom_1479986487999 {
  margin-left: -55px;
}

.caret {
  opacity: 1;
}

strong {
  font-family: Gotham Bold;
}

#headline .partners_headline h3 {
  display: inline-block;
  line-height: 2;
}

.partner_buttons {
  text-align: right;
}

.partner_buttons a.button {
  width: 100%;
  max-width: 249px;
  padding: 18px 10px;
  text-align: center;
  margin-bottom: 0;
  margin-right: 15px;
}

.artist_images .wpb_column .vc_column-inner {
  min-height: 353px;
  background-position: bottom right !important;
}

.artist_images .vc_column-inner {
  min-height: 353px;
  height: 100%;
  background-position: bottom right !important;
}

.artist_images_small .wpb_column .vc_column-inner {
  min-height: 160px;
  background-position: bottom right !important;
}

.artist_images_small .vc_column-inner {
  min-height: 160px;
  height: 100%;
  background-position: bottom right !important;
}

.equal_height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

/*Committee Menu*/

#committee-navbar-collapse {
  padding: 0;
  border: none;
}

#nav ul.sub-menu {
  background-color: rgba(255, 255, 255, 0.85) !important;
  position: absolute !important;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.87);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.87);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.87);
}

.committee_menu {
  background-color: #58595b;
  width: 100%;
  min-height: 48px;
}

.fixed_committee_menu {
  position: fixed;
  z-index: 2;
  top: 169px;
}

.committee_menu .navbar-default {
  margin-bottom: 0;
  max-height: 51px;
  border: none;
  border-radius: 0;
  background: transparent;
  min-height: 100%;
}

ul#nav3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex !important;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0 15px;
}

ul#nav3 > li {
  display: block;
  margin: 0;
}

ul#nav3 > li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0 16px;
  line-height: 1;
  margin-top: 19px;
  margin-bottom: 19px;
  display: block;
}

ul#nav3 > li.current-menu-item a {
  font-weight: bold;
}

/*End of Page Styling*/

/*Checkbox styling*/

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px !important;
  cursor: pointer;
  display: inline-block;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
}

.gform_wrapper ul.gfield_checkbox li {
  overflow: visible !important;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\e04';
  position: absolute;
  display: block;
  top: 4px;
  left: 2px;
  width: 13px;
  height: 13px;
  font-size: 14px;
  line-height: 0.8;
  color: #58595b;
  transition: all .2s;
  background-color: #58595b;
  transition: all .2s;
}

#block1 [type="checkbox"]:not(:checked) + label,
#block1 [type="checkbox"]:checked + label {
  line-height: 1;
  padding-top: 4px;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/*end of gravity form styling*/

.button_icon {
  position: relative;
  padding-left: 30px !important;
}

.button_icon i.fa-li_mail {
  position: absolute;
  top: 7px;
  left: 7px;
}

.move-top-buttons a {
  display: inline-block !important;
  float: right;
}

.move-top-buttons a:first-child:not(:last-child) {
  float: none;
  margin-left: 60px;
  display: inline-block !important;
}

i.fa-li_mail:before {
  content: "\f003";
}

.issuu-isrendered {
  width: 100% !important;
}

.vc_tta-panels {
  border: 1px solid #a7a7a8;
  border-bottom: 0;
}

.arabic a.doc-pdf {
  margin-right: 0;
  margin-left: 10px;
}

.vc_tta-panel {
  border-bottom: 1px solid #a6a6a8;
}

.vc_tta-panel-body {
  padding-top: 0 !important;
}

.vc_tta-panel-title {
  background: #fff;
}

.wpb_wrapper #logo-slider-wraper,
.container #logo-slider-wraper {
  width: 100% !important;
  left: 0 !important;
}

.wpb_wrapper #logo-slider-wraper ul,
.container #logo-slider-wraper ul {
  width: 100% !important;
}

.wpb_wrapper #logo-slider-wraper .logo-img,
.container #logo-slider-wraper .logo-img {
  margin-left: 0;
}

#logo-slider-wraper .slider-controls {
  left: 0;
}

#logo-slider {
  left: 0 !important;
}

.custom_label label {
  width: 80% !important;
  margin-top: 0 !important;
}

.slider-controls #prev {
  margin-right: -39px;
  background-size: 20px;
}

.slider-controls #next {
  margin-left: -40px !important;
  background-size: 20px;
}

.vc_tta-panel.vc_active {
  border-bottom: 2px solid #a6a6a8;
}

.vc_tta-title-text {
  font-family: Gotham Medium !important;
  text-transform: uppercase !important;
  font-size: 20px !important;
}

.vc_tta-panel-heading {
  border: 0 !important;
}

.single-gallery .carousel-anything-container:last-child {
  display: none !important;
}

.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title > a {
  padding-top: 35px;
  padding-bottom: 35px;
  color: #58595b !important;
  margin: 1px 0;
}

.vc_tta .vc_tta-controls-icon.vc_tta-controls-icon-chevron::before {
  border: none !important;
  background: url("../images/chevron.png") no-repeat center;
  transform: initial !important;
  width: 19px;
  height: 17px;
  top: initial !important;
  right: initial !important;
  bottom: initial !important;
  left: initial !important;
}

.vc_tta-controls-icon.vc_tta-controls-icon-chevron {
  width: 19px !important;
  height: 17px !important;
}

.vc_tta .vc_tta-controls-icon-chevron.vc_tta-controls-icon::before {
  transform: rotate(0deg) translate(0%, -25%) !important;
}

.vc_tta .vc_active .vc_tta-controls-icon.vc_tta-controls-icon-chevron::before {
  transform: rotate(180deg) translate(0%, -25%) !important;
}

/*Carousel*/

.carousel-anything-container.owl-ca-theme.has-arrows .owl-ca-controls {
  top: 8px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.carousel-showsixmoveone .carousel-control {
  width: 4%;
  background-image: none;
}

.carousel-showsixmoveone .carousel-control.left {
  margin-left: 15px;
  left: -65px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: flex-end;
  max-height: 170px;
}

.carousel-showsixmoveone .carousel-control.left i.prev_button {
  background-image: url("../images/arrow-left.png");
  display: block;
  width: 25px;
  height: 27px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.carousel-showsixmoveone .carousel-control.right {
  margin-right: 15px;
  right: -65px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: flex-start;
  max-height: 170px;
}

.carousel-showsixmoveone .carousel-control.right i.next_button {
  background-image: url("../images/arrow-right.png");
  display: block;
  width: 25px;
  height: 27px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.carousel-showsixmoveone .carousel-inner > .item {
  text-align: left;
}

.carousel-showsixmoveone .cloneditem-1,
.carousel-showsixmoveone .cloneditem-2,
.carousel-showsixmoveone .cloneditem-3,
.carousel-showsixmoveone .cloneditem-4,
.carousel-showsixmoveone .cloneditem-5 {
  display: none;
}

.page-id-4117 .vc-infobox-news-content {
    min-height: 80px;
}

.page-id-6243 .vc-infobox-news-content {
    min-height: 80px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media all and (min-width: 992px) {
  .carousel-showsixmoveone .carousel-inner > .active.left,
  .carousel-showsixmoveone .carousel-inner > .prev {
    left: -33.333%;
  }

  .carousel-showsixmoveone .carousel-inner > .active.right,
  .carousel-showsixmoveone .carousel-inner > .next {
    left: 33.333%;
  }

  .carousel-showsixmoveone .carousel-inner > .left,
  .carousel-showsixmoveone .carousel-inner > .prev.right,
  .carousel-showsixmoveone .carousel-inner > .active {
    left: 0;
  }

  .carousel-showsixmoveone .carousel-inner .cloneditem-1,
  .carousel-showsixmoveone .carousel-inner .cloneditem-2 {
    display: block;
  }
}

/*@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showsixmoveone .carousel-inner > .item.active.right,
  .carousel-showsixmoveone .carousel-inner > .item.next {
    transform: translate3d(33.333%, 0, 0);
    left: 0;
  }

  .carousel-showsixmoveone .carousel-inner > .item.active.left,
  .carousel-showsixmoveone .carousel-inner > .item.prev {
    transform: translate3d(-33.333%, 0, 0);
    left: 0;
  }

  .carousel-showsixmoveone .carousel-inner > .item.left,
  .carousel-showsixmoveone .carousel-inner > .item.prev.right,
  .carousel-showsixmoveone .carousel-inner > .item.active {
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}*/

@media all and (min-width: 992px) {
  .carousel-showsixmoveone .carousel-inner > .active.left,
  .carousel-showsixmoveone .carousel-inner > .prev {
    left: -33.333%;
  }

  .carousel-showsixmoveone .carousel-inner > .active.right,
  .carousel-showsixmoveone .carousel-inner > .next {
    left: 33.333%;
  }

  .carousel-showsixmoveone .carousel-inner > .left,
  .carousel-showsixmoveone .carousel-inner > .prev.right,
  .carousel-showsixmoveone .carousel-inner > .active {
    left: 0;
  }

  .carousel-showsixmoveone .carousel-inner .cloneditem-3,
  .carousel-showsixmoveone .carousel-inner .cloneditem-4,
  .carousel-showsixmoveone .carousel-inner .cloneditem-5 {
    display: block;
  }
}

@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showsixmoveone .carousel-inner > .item.active.right,
  .carousel-showsixmoveone .carousel-inner > .item.next {
    transform: translate3d(33.333%, 0, 0);
    left: 0;
  }

  .carousel-showsixmoveone .carousel-inner > .item.active.left,
  .carousel-showsixmoveone .carousel-inner > .item.prev {
    transform: translate3d(-33.333%, 0, 0);
    left: 0;
  }

  .carousel-showsixmoveone .carousel-inner > .item.left,
  .carousel-showsixmoveone .carousel-inner > .item.prev.right,
  .carousel-showsixmoveone .carousel-inner > .item.active {
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

/*Media queries*/

@media (min-width: 768px) {
  .committee_menu {
    max-height: 50px;
  }

  .previous_post {
    right: -75px;
  }

  /*  .header_menu #nav > ul > li > ul.sub-menu {
      opacity: 0;
      transform: translateY(-2em);
      z-index: 1;
      display: block;
      visibility: hidden;
      transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
      top: 52px;
    }

    .header_menu #nav > ul > li:hover > ul.sub-menu {
      visibility: visible;
      opacity: 1;
      transform: translateY(0%);
      transition-delay: 0s, 0s, 0.3s;
    }*/

  /*

    #menu.header_menu #nav > ul > li > .sub-menu > div > li > a {
      -webkit-transition: font-weight 0.3s linear, opacity 0s ease-in-out, margin 0s linear;
      -o-transition: font-weight 0.3s linear, opacity 0s ease-in-out, margin 0s linear;
      transition: font-weight 0.3s linear, opacity 0s ease-in-out, margin 0s linear;
    }

    #menu.header_menu #nav > ul > li:hover > .sub-menu > div > li > a {
      -webkit-transition: font-weight 0.3s linear, opacity 0.3s ease-in-out, margin 0.4s linear;
      -o-transition: font-weight 0.3s linear, opacity 0.3s ease-in-out, margin 0.4s linear;
      transition: font-weight 0.3s linear, opacity 0.3s ease-in-out, margin 0.4s linear;
    }

    .header_menu #nav > ul > li:hover > ul.sub-menu {
      transition: visibility 0s linear , height 0s linear;
    }

    .header_menu #nav > ul > li:hover > ul.sub-menu {
      transition: visibility 0.3s linear , height 0.4s linear;
      -webkit-transition: visibility 0.3s linear, height 0.4s linear;
      -o-transition: visibility 0.3s linear, height 0.4s linear;
    }*/

  /*.header_menu #nav > ul li:hover > ul.sub-menu {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    height: 100% !important;
    max-height: 51px;
  }*/

  /*#menu.header_menu .sub-menu {
    height: 0 !important;
  }*/

  /*  #menu.header_menu .sub-menu li a {
      margin-top: 0 !important;
      opacity: 0;
    }

    #menu.header_menu #nav > li:hover > .sub-menu > .container > li > a {
      margin-top: 18px !important;
      opacity: 1;
    }

    #menu.header_menu #nav > li > .sub-menu .container > li:hover > .sub-menu .container > li > a {
      margin-top: 18px !important;
      opacity: 1;
    }

    #menu.header_menu .sub-menu .container {
      position: static;
      display: -webkit-flex;
      -webkit-justify-content: space-between;
      display: flex;
      justify-content: space-between;
      padding-left: 25px;
      padding-right: 39px;
      width: 750px;
      overflow: overlay;
    }

    #menu.header_menu .sub-menu .container .sub-menu .container {
      position: static;
      display: -webkit-flex;
      justify-content: initial;
      display: flex;
      padding-left: 25px;
      padding-right: 39px;
      overflow: overlay;
    }

    #menu.header_menu .sub-menu .container .sub-menu .container li {
      padding-right: 41px;
    }

    #menu.header_menu .sub-menu .container:before,
    #menu.header_menu .sub-menu .container:after {
      content: none;
    }*/

  ul.sub-menu {
    border-radius: 0 !important;
    padding: 0 !important;
    /* min-width: 100%; */
    /* width: auto !important; */
  }

  ul.sub-menu > li {
    padding: 0 17px !important;
    display: block;
    padding-top: 1px !important;
  }

  ul.sub-menu > li > ul.sub-menu {
    border-radius: 0 !important;
  }

  #nav ul li ul {
    margin: 0 0 0 100%;
    width: 170px;
    position: absolute;
    top: -1px;
  }

  #committee-navbar-collapse {
    height: 100% !important;
  }

  .gform_confirmation_wrapper {
    margin-left: -5px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .partner img {
    height: 37px;
  }
}

@media (min-width: 961px) {
  .gform_confirmation_wrapper {
    margin-left: -10px;
  }

  .previous_post {
    right: -65px;
  }
}

@media (min-width: 992px) {
  .footer-in {
    padding-left: 30px;
  }

  .previous_post {
    right: -120px;
  }

  #menu.header_menu .sub-menu .container {
    width: 970px;
    overflow: initial;
  }

  #menu.header_menu ul li a {
    font-size: 11px;
  }

  #menu.header_menu .sub-menu li a {
    font-size: 11px;
  }

  #nav ul li ul {
    margin: 0 0 0 100%;
    width: 170px;
  }

  .move-top-buttons a:first-child:not(:last-child) {
    margin-left: 125px;
  }

  .gform_confirmation_wrapper {
    margin-left: -70px;
  }
}

@media (min-width: 1200px) {
  #menu.header_menu .sub-menu .container {
    width: 1170px;
  }

  .move-top-buttons a:first-child:not(:last-child) {
    margin-left: 250px;
  }

  .secondary_logo {
    margin-left: -55px;
  }

  .gform_confirmation_wrapper {
    margin-left: -170px;
  }
}

@media (max-width: 1199px) {
  .advertising {
    text-align: center;
  }

  #videoModal .modal-wrapper {
    max-width: 80%;
  }

  #headline h3 {
    padding-left: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #menu.header_menu ul li a {
    font-size: 9px;
    padding: 0 !important;
  }

  #menu.header_menu .sub-menu li a {
    font-size: 9px;
  }

  #menu {
    height: 50px;
  }

  #nav ul li ul {
    margin: 0 0 0 100%;
    width: 170px;
  }

  .gform_body ul li h2 {
    width: 34%;
  }

  .custom_carousel .owl-ca-carousel .owl-ca-wrapper-outer .owl-ca-item .vc_row {
    margin: 0 12px;
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  .carousel-anything-container.owl-ca-theme.has-arrows .owl-ca-controls .owl-ca-buttons div {
    width: 20px !important;
    height: 20px;
    left: -25px;
  }

  .carousel-anything-container.owl-ca-theme.has-arrows .owl-ca-controls .owl-ca-buttons div.owl-ca-next {
    right: -25px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .event_date img {
    margin-left: 0;
  }

  .sponsors {
    vertical-align: top;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  div.artist_images.wpb_column,
  .artist_images > div,
  .artist_images > div.wpb_column,
  .artist_images_small.wpb_column {
    padding: 0 10px !important;
  }
}

@media (max-width: 991px) {
  .fixed_committee_menu {
    top: 168px;
  }

  .partner {
    padding: 0 43px 17px 44px;
  }

  .move-top-buttons {
    display: none;
  }

  .move-top-buttons a.button {
    margin-left: 0 !important;
    max-width: 234px;
  }

  .move-top-buttons a.button:first-child {
    margin-left: 35px !important;
  }

  .slider-controls #next {
    margin-left: -32px !important;
  }

  .slider-controls #prev {
    margin-right: -32px;
  }
}

@media (max-width: 767px) {
  /*Header Media Queries*/

  .inline_checkbox .ginput_container {
    margin-left: 10px;
  }

  .inline_checkbox {
    vertical-align: middle;
    margin-top: 4px !important;
  }

  .pp_content_container {
    background-color: #fff;
  }

  .event_select.margin-left-media-select {
    margin-left: 0;
  }

  .previous_post {
    left: 10px;
    top: 1px;
    right: initial;
  }

  .next_post {
    float: left;
    margin-left: 100px;
  }

  .newsletter-post a.doc-pdf {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    max-width: 143px;
  }

  h2.mex-title {
    margin-bottom: 20px;
  }

  #videoModal .modal-dialog .modal-content {
    padding: 55px 15px;
  }

  #videoModal .modal-dialog .modal-body button {
    right: 14px;
  }

  #videoModal .modal-dialog .modal-body iframe {
    max-height: 250px;
  }

  .small-margin {
    margin-bottom: 20px !important;
  }

  .intro_section {
    text-align: center;
  }

  .vc-infobox-wrap h2 {
    margin-top: 10px;
  }

  .vc-infobox-wrap .vc-infobox-hover-title {
    margin-top: 40px;
  }

  .vc-infobox-wrap:hover .vc-infobox-hover-title {
    margin-top: 0px;
  }

  #nav > ul {
    display: block !important;
    padding-left: 0;
    left: 0;
    border: 0;
  }

  #nav > ul > li {
    position: relative;
  }
  #nav ul li{
    padding:  0 0px !important;
  }
  #menu.header_menu ul li a {
    padding: 20px 10px 19px 40px !important;
  }
  #nav > ul:not(.sub-meu) > li a.has-icon-important:before{
    left: 6px;
    top: 10px;
}

  /*#menu.header_menu #nav > ul li > ul.sub-menu {*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 1px;*/
  /*}*/

  #menu.header_menu #nav > ul li > ul.sub-menu.shown,
  #menu.header_menu #nav > ul li > ul.sub-menu > li ul.sub-menu.shown {
    position: relative;
    margin-bottom: 20px;
  }

  .carousel-anything-container.owl-ca-theme.has-arrows .owl-ca-controls .owl-ca-buttons div {
    width: 16px !important;
  }

  .custom_carousel .owl-ca-carousel .owl-ca-wrapper-outer .owl-ca-item .vc_row {
    margin: 0;
  }

  .header_menu #nav > ul li > ul.sub-menu {
    visibility: hidden !important;
    opacity: 0 !important;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    padding: 0 0 0 15px !important;
    width: 100%;
    display: block;
  }

  .header_menu #nav > ul li > ul.sub-menu.shown {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    transition-delay: 0s;
  }

  #menu.header_menu .sub-menu li .sub-menu {
    border-top: 0;
  }

  #nav > ul > li .sub-menu li {
    display: block !important;
    margin-left: 0;
    position: relative !important;
  }

  #nav > ul > li .sub-menu li .sub-menu {
    top: initial !important;
  }

  .navbar-offcanvas.offcanvas-transform.in {
    padding-left: 0;
    z-index: 9999;
    height: 100vh !important;
  }

  #header.sm-rgt-mn .logo-wrap {
    float: none;
    width: 100%;
    height: auto;
  }

  #header.sm-rgt-mn {
    height: 100%;
    max-height: 99px;
    padding: 15px 0;
  }

  #header.sm-rgt-mn .logo-wrap .logo img {
    max-height: 100%;
  }

  #header .logo img {
    margin-top: 5px !important;
  }

  .logo {
    margin-bottom: 0;
  }

  .event_date img, .secondary_logo img {
    margin-left: -2px;
    margin-top: 14px;
  }

  .fixed_header_menu {
    top: 99px;
  }

  #nav li {
    margin-left: 0;
  }

  .login-mobile {
    text-align: left;
    padding-left: 31px;
  }

  .top-bar-mobile {
    text-align: left;
    background: none;
    height: auto;
  }

  .top-bar-mobile .top-links {
    margin: 0;
    padding: 0;
    min-height: 0;
  }

  .top-bar-mobile .socialfollow {
    text-align: left;
    padding-left: 16px;
    margin-left: 15px;
    padding-bottom: 19px;
    border-bottom: 1px solid #e8e8e8;
  }

  .top-bar-mobile .socialfollow a {
    display: inline-block;
  }

  #ls-global * .ls-container img.register_now {
    max-width: 200px !important;
    display: block;
    margin: 0 auto;
  }

  .page_content_slider p {
    font-size: 9px;
  }

  /* end of Header Media Queries*/

  /*footer media queries*/

  .invis-xs {
    display: none;
  }

  .footer_menu #nav-wrap {
    min-height: 51px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .footer_menu ul#nav2 {
    display: flex !important;
    background: transparent;
    border: 0;
    padding-bottom: 0;
    z-index: 1;
  }

  .footer_menu ul#nav2 li a {
    font-size: 8px;
    padding: 0;
  }

  .footer_menu .newsletter {
    margin-right: 0;
  }

  .footer_menu ul#nav2 li {
    border-bottom: 0;
  }

  .footer_menu .newsletter span {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .footer-in .widget {
    text-align: center;
    padding-left: 0;
    padding-bottom: 17px;
  }

  .footer-in .widget p {
    font-size: 14px;
    line-height: 1.3;
  }

  .footer-in .widget_container {
    margin-bottom: 20px;
  }

  .footer-in .widget_container .widget {
    border-bottom: 2px solid #e0e0e0;
  }

  .footer-in .partner p, .footer-in .social p{
    margin-left: 0;
  }

  .footer-in .partner img {
    margin-left: 25px;
  }

  .advertising {
    margin-bottom: 10px;
  }

  .partner {
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
    border: 0;
    margin-bottom: 0px;
  }

  .partner > div {
    border-bottom: 2px solid #e0e0e0;
  }

  .partner img {
    margin-top: 0;
  }

  .sponsors {
    padding: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .sponsors img {
    margin: 0 auto;
    display: block;
  }

  .sponsors .vertical-align {
    margin-top: 8px;
  }

  .latest-info {
    text-align: center;
  }

  .latest-info h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .latest-info a.button.bordered-bot {
    float: none;
  }

  .no-pad-left {
    padding-left: 15px;
  }

  .np-pad-right {
    padding-right: 15px;
  }

  .secondary_logo {
    margin-top: 8px;
  }

  .secondary_logo img {
    margin-left: -23px;
    height: 34px;
    margin-top: 5px;
  }

  /*Committee Page*/

  button.navbar-toggle.committee-toggle {
    border: none;
    box-shadow: none;
  }

  button.navbar-toggle.committee-toggle:focus {
    background: transparent;
  }

  button.navbar-toggle.committee-toggle .icon-bar {
    background-color: #fff;
  }

  .committee_menu #nav-wrap.navbar-default {
    max-height: 100%;
    height: auto;
    margin: 0;
    position: static;
  }

  .fixed_committee_menu {
    top: 150px;
  }

  ul#nav3 {
    display: block;
    text-align: left;
  }

  ul#nav3 > li {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .latest-info a.button.bordered-bot {
    margin-bottom: 15px;
    margin-top: 0;
  }

  .partner_buttons a.button {
    display: block;
    margin: 20px auto 0;
  }

  .partner_buttons a.button:first-child {
    margin: 20px auto 0;
  }

  .gform_body ul li label {
    width: 30%;
  }

  .gform_body ul li > div.ginput_container {
    width: 70%;
  }

  .gform_body ul li {
    display: block;
  }

  .gform_body ul li h2,
  .gform_wrapper h2.gsection_title {
    width: 100%;
    margin-bottom: 15px !important;
  }

  .gform_body ul li label,
  .inline_zip label {
    width: 100% !important;
  }

  .gform_body ul li > div.ginput_container,
  .inline_zip .ginput_container {
    width: 100% !important;
  }

  .inline_zip {
    width: 81%;
  }

  .gform_body ul li.gallery_bio .gfield_description {
    float: left;
    max-width: 100%;
  }

  .inline_checkbox {
    width: 19%;
  }

  .inline_checkbox .ginput_container li {
    float: left;
  }

  .inline_fields {
    width: 100%;
  }

  .inline_input {
    width: 50%;
  }

  .gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label {
    max-width: 100%;
  }

  .gform_body ul li input, .gform_body ul li select, .gform_body ul li textarea {
    margin-bottom: 0;
  }

  .ginput_recaptcha {
    height: 78px;
    position: relative;
  }

  .ginput_recaptcha > div {
    width: auto !important;
    position: absolute;
    left: -35px;
  }

  .gform_wrapper .gform_footer {
    width: 100%;
  }

  .vip_my_profile_body .small-size.bootstrap-select {
    width: 100% !important;
  }

  .vip_my_profile_body .checkbox_label {
    float: left !important;
  }

  .gallery_search .input-group {
    width: 100%;
  }

  #headline {
    padding-top: 30px;
  }

  #headline h3 {
    font-size: 22px;
  }

  .move-top-buttons {
    position: static !important;
    margin-top: 40px;
    display: block !important;
  }

  .move-top-buttons a.button,
  .move-top-buttons a.button:first-child {
    float: left !important;
    margin-left: -10px !important;
  }

  .arabic {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .gform_confirmation_wrapper {
    margin-left: -10px;
  }

  #firsttimepopup.modal .vip_profile_footer button {
    margin-left: 0;
    max-width: 101px;
  }

  #firsttimepopup .gender .bootstrap-select {
    width: 100% !important;
  }
}

@media (max-width: 479px) {
  .footer-in .partner img {
    margin-left: 0px;
    height: 33px;
  }

  .event_date img {
    max-width: 68px !important;
    margin-top: 8px;
  }

  #carousel-anything-1,
  #carousel-anything-2 {
    max-width: 290px;
    margin: 0 auto;
  }
  #gallert-topbutton {

        margin-top: 0px !important;

  }
  .footer-in .sponsors p {
    margin-left: -1px;
  }

  .footer-in p {
    margin: 0 auto;
  }

  .container {
    width: 320px;
  }

  #nextprevmedia {
    margin-left: 25px;
    margin-top: 40px;
  }
}

@media (max-width: 350px) {
  .container {
    width: 280px;
  }

  .event-container .view-image,
  .event-container .downloadbutton {
    font-size: 10px;
  }
}

/*end of media queries*/

.vip_buttons .button {
  width: 100%;
  max-width: 210px;
  font-size: 14px;
  margin-right: 10px;
}

.custom_calender h2.mex-title,
.custom_events h2.mex-title {
  margin: 10px 0;
}

.event_buttons a.button {
  padding: 10px;
  margin-top: 5px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media (max-width: 1050px) {
  .carousel-showsixmoveone .carousel-control.left {
    width: 20px;
    left: -40px;
  }

  .carousel-showsixmoveone .carousel-control.right {
    width: 20px;
    right: -40px;
  }

  .carousel.carousel-showsixmoveone .carousel-control.left i.prev_button,
  .carousel.carousel-showsixmoveone .carousel-control.right i.next_button {
    height: 22px;
  }
}

@media (max-width: 991px) {
  .carousel-showsixmoveone .carousel-control.left {
    left: -30px;
    width: 15px;
  }

  .carousel-showsixmoveone .carousel-control.right {
    right: -30px;
    width: 15px;
  }

  .carousel.carousel-showsixmoveone .carousel-control.left i.prev_button,
  .carousel.carousel-showsixmoveone .carousel-control.right i.next_button {
    height: 17px;
  }
}

@media (max-width: 960px) {
  .custom_calender {
    margin-bottom: 40px;
  }

  .caption_column.wpb_column {
    padding: 0 15px !important;
  }

  .custom_carousel .owl-ca-carousel .owl-ca-wrapper-outer .owl-ca-item .vc_row {
    margin: 0 3px;
  }
}

@media (max-width: 767px) {
  .header_menu #nav > ul{ height: auto; }
  .event_select {
    max-width: 100%;
  }

  .margin-left-media-select > div {
    padding: 0 15px;
  }

  .event-container .view-image,
  .event-container .downloadbutton {
    display: block;
  }

  .number_select {
    padding-right: 0;
  }

  .number_input {
    padding-left: 0;
  }

  .no-pad-small {
    padding: 0;
  }

  .dropdown-menu {
    max-width: 100%;
  }

  .event_select .bootstrap-select {
    max-width: 100%;
    margin: 10px auto !important;
    display: block !important;
  }

  .event_buttons a.button {
    padding: 10px 4px;
    letter-spacing: 1px;
  }

  #headline h3 {
    padding-left: 10px;
  }

  .page_content .wpb_column {
    padding: 0;
  }

  .vc-infobox-news-content {
    text-align: center;
    margin-bottom: 20px;
  }

  .vc-infobox-news-content a.button.bordered-bot {
    margin: 0 auto 20px;
    float: none;
  }

  .calender #block1 h3.headline {
    text-align: center;
  }

  .calender .cal-page-event-desc {
    text-align: center;
    margin-top: 10px;
  }

  .calender #block1 h4.subtitle {
    text-align: center;
  }

  .calender .cal-page-event-desc label {
    margin-left: 7px;
  }

  .calender .cal-page-event-cancel {
    text-align: center;
  }

  .modal .modal-dialog .modal-content {
    padding: 40px;
  }

  #firsttimepopup .vip_profile_header,
  #firsttimepopup .vip_profile_body {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  #vip_footer .contact_info_box {
    padding-left: 13px;
    margin-bottom: 20px;
  }

  .vc_col-sm-4.text-right {
    text-align: center;
  }

  .carousel-anything-container.owl-ca-theme.has-arrows .owl-ca-controls .owl-ca-buttons div {
    left: -20px;
  }

  .carousel-anything-container.owl-ca-theme.has-arrows .owl-ca-controls .owl-ca-buttons div.owl-ca-next {
    right: -20px;
  }
}

@media (max-width: 479px) {
  .custom_events h2.mex-title {
    margin: 0;
  }

    body#press-gallery form {

  padding:0 15px;

  }
  section#mobile-hide {

    display:none;

}

.related-articles
{
  display:none;
}

 .related-articles-mobile
{
  display:block;
}


}

/*full page mobile styling*/

@media (max-width: 960px) {
  div.wpb_column {
    padding: 0 !important;
  }

  .page-id-3753 div.wpb_column.vc_col-sm-4 {
    padding: 0 15px !important;
  }

  .vertical-space, .vertical-space1 {
    height: 15px;
  }

  .page_content h2.mex-title {
    margin: 30px 0;
  }
}

@media (max-width: 767px) {
  .blox[style*="background:"] {
    min-height: 250px !important;
  }

  .row_bg_image_cap .caption_column {
    min-height: 250px;
  }

  .small-center {
    text-align: center !important;
  }

  .small-center .button {
    margin: 15px 0 !important;
  }

  .carousel.carousel-showsixmoveone {
    max-width: 290px;
    margin: 0 auto !important;
  }

  ul#nav3 {
    display: block !important;
  }

  .year_dropdown {
    margin-left: -8px;
  }
}
@media screen and (min-width: 768px) and  (max-width: 1199px){
  .container{width: 100% !important;max-width: 100% !important;}
    #menu.header_menu ul li a {
      max-width: 86px;
      padding: 20px 5px 18px 5px !important;
      font-size: 11px;
  }
  #menu.header_menu .sub-menu li a{
      max-width: 100%;
  }

  #nav > ul > li:nth-child(5) {
      min-width: 120px;
  }

}
@media screen and (min-width: 768px) and  (max-width: 991px){
  #menu.header_menu ul li a {
    max-width: 65px;
    padding: 20px 5px 18px 5px !important;
    font-size: 9px;
  }
}
/*********************************************************2018 Fix***********************************************/

#myModal .modal-header {
    padding-top:30px;
}

#myModal .modal-body {
    padding: 13px 70px 26px 43px;
}

.footer_menu .newsletter {
  background-color: #004f59;
}

