// fea3d4 (Light)
// fd48a9 (Dark)
// ffd1dc (Lighter)

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
  color: inherit;
}

@media screen and (min-width: 769px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}


.row-no-padding {
    margin: 0;
    & > div {
        padding: 0;
    }
}

hr {
    border-color: #dcdcdc;
    margin: 50px 0;
}

a {
    color: inherit;
}

strong {
    font-family: "Gotham Bold";
}

.droparea {
  background: url("../images/dropzone.png") center no-repeat;
  border: 0;
  min-height: 160px;
  width: 330px;
  margin: 0 auto;
  position: relative;

    .dz-details {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        background: rgba(255,255,255,0.8);
        font-size: 12px;
        padding: 5px 10px;

        > div {
            display: inline-block;
        }
    }
    .dz-error-mark,
    .dz-success-mark {
        display: none !important;
    }
    .dz-remove {
        position: absolute;
        top: 0;
        left: 0;
        color: red;
        width: 24px;
        height: 24px;
        background: rgba(255,255,255,0.8);
        font-size: 0;
        text-align: center;
        line-height: 24px;

        &:after {
            content: '\f2ed';
            font-family: 'Font Awesome\ 5 Free';
            font-size: 12px;
        }
    }
    .dz-progress {
        position: absolute;
        left: 0;
        bottom: -5px;
        z-index: 9;
        width: 100%;
        height: 5px;

        .dz-upload {
            height: 5px;
            background: green;
            display: inline-block;
            vertical-align: top;
        }
    }
    .dz-error-message {
        display: none !important;
    }
}

.select-custom {
    position: relative;
    margin-right: 10px;

    select {
        -webkit-appearance: none;
        position: relative;
    }
    &:after {
        position: absolute;
        top: 18px;
        right: 20px;
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 5px solid transparent;
        border-top-color: #333;
    }
    &:last-child {
        margin: 0;
    }
}

legend {
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

fieldset, figure {
  margin: 0 0 10px;
  position: relative;
  clear: both;
}

fieldset label.error, figure label.error {
  display: none !important;
}

fieldset {
  .intl-tel-input {
    height: 44px;
    padding: 5px 15px;
    border: 1px solid #c3c3c3;
    width: 100%;
    margin-right: 10px;
    background: #fff;
    border-radius: 0;
  }

  input {
    &[type=file], &[type=text], &[type=email], &[type=tel] {
      height: 44px;
      padding: 5px 15px;
      border: 1px solid #c3c3c3;
      width: 100%;
      margin-right: 10px;
      background: #fff;
      border-radius: 0;
    }
  }

  select {
    height: 44px;
    padding: 5px 15px;
    border: 1px solid #c3c3c3;
    width: 100%;
    margin-right: 10px;
    background: #fff;
    border-radius: 0;
  }
}

figure {
  .intl-tel-input {
    height: 44px;
    padding: 5px 15px;
    border: 1px solid #c3c3c3;
    width: 100%;
    margin-right: 10px;
    background: #fff;
    border-radius: 0;
  }

  input {
    &[type=file], &[type=text], &[type=email], &[type=tel] {
      height: 44px;
      padding: 5px 15px;
      border: 1px solid #c3c3c3;
      width: 100%;
      margin-right: 10px;
      background: #fff;
      border-radius: 0;
    }
  }

  select {
    height: 44px;
    padding: 5px 15px;
    border: 1px solid #c3c3c3;
    width: 100%;
    margin-right: 10px;
    background: #fff;
    border-radius: 0;
  }
}

fieldset {
  .intl-tel-input:last-child {
    margin: 0;
  }

  input {
    &[type=file]:last-child, &[type=text]:last-child, &[type=email]:last-child, &[type=tel]:last-child {
      margin: 0;
    }
  }

  select:last-child {
    margin: 0;
  }
}

figure {
  .intl-tel-input:last-child {
    margin: 0;
  }

  input {
    &[type=file]:last-child, &[type=text]:last-child, &[type=email]:last-child, &[type=tel]:last-child {
      margin: 0;
    }
  }

  select:last-child {
    margin: 0;
  }
}

fieldset {
  .intl-tel-input.error {
    border-color: red;
  }

  input {
    &[type=file].error, &[type=text].error, &[type=email].error, &[type=tel].error {
      border-color: red;
    }
  }

  select.error {
    border-color: red;
  }
}

figure {
  .intl-tel-input.error {
    border-color: red;
  }

  input {
    &[type=file].error, &[type=text].error, &[type=email].error, &[type=tel].error {
      border-color: red;
    }
  }

  select.error {
    border-color: red;
  }
}

fieldset {
  .intl-tel-input.valid {
    border-color: green;
  }

  input {
    &[type=file].valid, &[type=text].valid, &[type=email].valid, &[type=tel].valid {
      border-color: green;
    }
  }

  select.valid {
    border-color: green;
  }
}

figure {
  .intl-tel-input.valid {
    border-color: green;
  }

  input {
    &[type=file].valid, &[type=text].valid, &[type=email].valid, &[type=tel].valid {
      border-color: green;
    }
  }

  select.valid {
    border-color: green;
  }
}

fieldset {
  .intl-tel-input:disabled {
    background: #ccc;
  }

  input {
    &[type=file]:disabled, &[type=text]:disabled, &[type=email]:disabled, &[type=tel]:disabled {
      background: #ccc;
    }
  }

  select:disabled {
    background: #ccc;
  }
}

figure {
  .intl-tel-input:disabled {
    background: #ccc;
  }

  input {
    &[type=file]:disabled, &[type=text]:disabled, &[type=email]:disabled, &[type=tel]:disabled {
      background: #ccc;
    }
  }

  select:disabled {
    background: #ccc;
  }
}

fieldset input[type=file], figure input[type=file] {
  background: #e6e6e6;
  padding: 10px 15px;
}

fieldset textarea, figure textarea {
  padding: 5px 15px;
  border: 1px solid #c3c3c3;
  width: 100%;
  margin-right: 10px;
  background: #fff;
  border-radius: 0;
}

fieldset .form-check .form-check-label, figure .form-check .form-check-label {
  font-size: 12px;
  margin: 0;
  font-weight: normal;
  line-height: 19px;
}

fieldset.col4 {
  .intl-tel-input {
    width: calc(25% - 8px);
    float: left;
  }

  input {
    &[type=text], &[type=email], &[type=tel] {
      width: calc(25% - 8px);
      float: left;
    }
  }

  .form-check, .select-custom {
    width: calc(25% - 8px);
    float: left;
  }
}

figure.col4 {
  .intl-tel-input {
    width: calc(25% - 8px);
    float: left;
  }

  input {
    &[type=text], &[type=email], &[type=tel] {
      width: calc(25% - 8px);
      float: left;
    }
  }

  .form-check, .select-custom {
    width: calc(25% - 8px);
    float: left;
  }
}

fieldset.col3 {
  .intl-tel-input {
    width: calc(33.33% - 7px);
    float: left;
  }

  input {
    &[type=text], &[type=email], &[type=tel] {
      width: calc(33.33% - 7px);
      float: left;
    }
  }

  .form-check, .select-custom {
    width: calc(33.33% - 7px);
    float: left;
  }
}

figure.col3 {
  .intl-tel-input {
    width: calc(33.33% - 7px);
    float: left;
  }

  input {
    &[type=text], &[type=email], &[type=tel] {
      width: calc(33.33% - 7px);
      float: left;
    }
  }

  .form-check, .select-custom {
    width: calc(33.33% - 7px);
    float: left;
  }
}

fieldset.col2 {
  .intl-tel-input {
    width: calc(50% - 5px);
    float: left;
  }

  input {
    &[type=text], &[type=email], &[type=tel] {
      width: calc(50% - 5px);
      float: left;
    }
  }

  .form-check, .select-custom {
    width: calc(50% - 5px);
    float: left;
  }
}

figure.col2 {
  .intl-tel-input {
    width: calc(50% - 5px);
    float: left;
  }

  input {
    &[type=text], &[type=email], &[type=tel] {
      width: calc(50% - 5px);
      float: left;
    }
  }

  .form-check, .select-custom {
    width: calc(50% - 5px);
    float: left;
  }
}

fieldset .intl-tel-input input, figure .intl-tel-input input {
  width: 100% !important;
  padding: 0;
  border: 0;
  height: 32px;
  padding-left: 88px;
}

fieldset.btn-wrap, figure.btn-wrap {
  text-align: center;
  margin: 30px 0 0;
}

fieldset:after, figure:after {
  content: '';
  clear: both;
  display: block;
}

.btn {
    padding: 25px 35px;
    color: #333;
    border: 1px solid #333;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 18px;
    line-height: 18px;

    &.filled {
        background: #58595b;
        color: #fff;
        padding: 25px 75px;
    }
    &.small {
        padding: 15px 40px;
        background: #b6cedb;
        border: none;
        color: #fff;
        margin: 0;
    }
    &.alt {
        background: #cbcbcb;
    }
    &.smaller {
        background: #b6cedb;
        font-size: 14px;
        padding: 10px 15px;
        border: 0;
        margin: 0;
        color: #333;

        &.filled {
            color: #fff;
        }
        &.alt {
            border: 1px solid #5f5f5f;
            background: none;
        }
    }
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 50px;
    width: auto;
    max-width: 350px;
    margin: 20px auto;
    text-align: center;

    h4 {
        font-size: 30px;
        color: #000;
        font-family: "Gotham Book";
        margin: 0;
        text-transform: uppercase;
    }
    p {
        font-size: 16px;
        color: #000;
        font-family: "Gotham Medium";
        margin: 0;
    }
    .fa {
        font-size: 72px;
        color: #b6cedb;
        margin-bottom: 20px;
    }
    button.mfp-close {
        background: #b6cedb;
        color: #fff !important;
        opacity: 1;
    }

    &.alt {
        max-width: 470px;
        background: #e6e6e6;

        p {
            font-size: 14px;
            margin: 0 0 30px;
            font-family: "Gotham Book";
            line-height: 24px;
        }
        .mfp-close {
            position: static;
            width: auto;
            height: auto;
            font-size: 18px;
            opacity: 1;
            padding: 15px 40px;
            line-height: 18px;
            margin-right: 50px;
        }
        button.mfp-close {
            display: none;
        }
    }
}

#nav > ul {
    display: block !important;

    & > li > a {
        //padding: 20px 24px 19px 25px !important;
        //letter-spacing: 1px;
        padding: 20px 10px 19px 10px !important;
        letter-spacing: 0;
    }
}

/* Authentication */

.ad-authentication-wrap {
    background: url('../images/authentication-bg.jpg') no-repeat;
    background-size: cover;
    padding: 200px 0 120px;

    .login-registration-box {

        .forms {
            position: relative;
            background: rgba(0,0,0,0.5);
            width: 80%;
            margin: 0 auto;

            form {
                padding: 50px 55px;
                color: #fff;
                width: 100%;

                h3 {
                    font-size: 30px;
                    font-family: 'Gotham Book', Arial, Helvetica, sans-serif;
                    text-transform: uppercase;
                    margin: 0 0 30px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #b6cedb;
                }
a {
          &.signin-link, &.signup-link {
            color: #b6cedb;
            font-family: 'Gotham Medium', Arial, Helvetica, sans-serif;
          }
        }

        input {
          &.text-box {

                    height: 46px;
                    width: 100%;
                    padding: 10px 15px;
                    border: 1px solid #fff;
                    border-radius: 0;
                    background: none;
                    margin: 0 0 20px;
                    color: #fff;
                    font-size: 14px;
                    font-family: 'Gotham Book', Arial, Helvetica, sans-serif;

                    &.error {
                        border-color: red;
                    }
                }
                &.submit {
                    height: 46px;
                    width: 100%;
                    padding: 10px 15px;
                    border: 0;
                    border-radius: 0;
                    background: #b6cedb;
                    margin: 0;
                    color: #000;
                    font-size: 18px;
                    text-transform: uppercase;
                    font-family: 'Gotham Book', Arial, Helvetica, sans-serif;
                }
}
                label {
                    display: block;
                    font-size: 14px;
                    color: #fff;
                    font-weight: normal;
                    margin: 0 0 10px;

                    &.error {
                        color: red;
                        font-size: 12px;
                        margin: -10px 0 10px;
                    }
                }
                fieldset {
                    margin: 0;
                    position: relative;
                }
                &.login-form {
                    z-index: 22;
                    position:relative;

                    p {
                        margin: 0 0 40px;
                    }
                }
                &.reset-form {

                    label.error {
                        display: block !important;
                    }
                }
            }
        }
        .after-forms {
            text-align: center;
            font-weight: bold;
            padding: 20px;
            background: rgba(0,0,0,0.5);
            margin: 30px auto 0;
            width: 80%;

            p {
                margin: 0;
                color: #b6cedb;
                font-size: 14px;

                a {
                    color: #fff;
                }
            }
        }
    }
}

.notification-list {

    .item {
        text-align: left;
        padding: 15px 30px 15px 110px;
        position: relative;
        border-bottom: 1px solid #f0f0f0;

        i {
            position: absolute;
            top: 28px;
            left: 37px;
            font-size: 20px;
            color: #2a2a2a;
            opacity: .5;
        }
        p {
            color: #2a2a2a;
            font-size: 13px;

            span {
                font-size: 11px;
                color: #b6cedb;

                &+span {
                    color: #aeaeae;
                    float: right;
                }
            }
            &:last-child {
                margin: 0;
            }
        }
        & > a {
            font-size: 11px;
            position: absolute;
            top: 10px;
            right: 10px;
        }
        &.read {
            background-color: #f8f8f8;

            & > a {
                display: none;
            }
        }
        &:last-child {
            border: 0;
        }
        &:before {
            content: '';
            display: block;
            width: 1px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 90px;
            background: #f0f0f0;
        }
        &.no {
            padding-right: 0;
            &:before {
                display: none;
            }
        }
    }
}

.ad-page-wrap {
    font-family: 'Gotham Book', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #2a2a2a;
    padding-bottom: 50px;

    .section-heading {
        color: #050505;
        font-family: "Gotham Book", Arial, Helvetica, sans-serif;
        font-size: 26px;
        text-transform: uppercase;
        margin: 0 0 20px;
    }
    .ad-welcome-header {
        background: url('../images/welcome-banner.jpg') center/cover no-repeat;
        position: relative;

        .inner-data {
            text-align: center;
            margin: 240px 0 30px;
            position: relative;

            .user-info {
                span {
                    display: inline-block;
                    margin: 0 20px;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 24px;
                    font-weight: bold;
                    text-shadow: 0 0 1px #000;

                    img {
                        border-radius: 50%;
                    }
                }
            }
            .actions {
                position: absolute;
                bottom: 0;
                right: 0;

                .notification {
                    color: red;
                    font-size: 32px;
                    position: relative;
                    padding: 5px 10px;
                    background: #fff;
                    border-radius: 5px;

                    span {
                        font-size: 12px;
                        background: red;
                        width: 24px;
                        height: 24px;
                        display: inline-block;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 24px;
                        font-weight: bold;
                        position: absolute;
                        top: -12px;
                        right: -12px;
                        margin: 0;
                        color: #fff;
                        box-shadow: 0 0 10px #000;
                    }
                    &.empty {
                        color: #b6cedb;

                        span {
                            background: #f0f0f0;
                            color: #000;
                        }
                    }
                }
                .logout-link {
                    font-size: 12px;
                    color: #000;
                    display: inline-block;
                    padding: 5px 10px;
                    background: #fff;
                    text-transform: uppercase;
                    margin-left: 20px;
                    vertical-align: super;
                }
            }
            .notification-wrap {
                position: absolute;
                top: 25px;
                right: 0;
                width: 430px;
                z-index: 1;
                box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
                display: none;

                h4 {
                    font-size: 24px;
                    color: #000;
                    padding: 20px 30px;
                    background: #f4f4f4;
                    text-align: left;
                    margin: 0;

                    span {
                        font-size: 14px;
                        color: #808181;
                    }
                }
                .item {
                    background-color: #ffff;
                }
                .view-all {
                    background: #fff;
                    text-align: center;
                    display: block;
                    padding: 15px 0;
                    color: #333;
                    font-size: 12px;
                    text-transform: uppercase;
                    font-family: "Gotham Bold";
                }
                &:before {
                    display: block;
                    content: '';
                    border: 10px solid transparent;
                    border-bottom-color: #f4f4f4;
                    width: 20px;
                    position: absolute;
                    top: -20px;
                    right: 102px;
                }
            }
        }
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            background: rgba(0,0,0,0.5);
            content: '';
            display: block;
        }
    }
    .ad-welcome-data {
        text-align: center;

        p {
            margin: 60px 0;
        }
        .deadlines {
            text-align: left;
            max-width: 600px;
            margin: 0 auto 40px;

            tr {
                background: #f0f0f0;
                &:nth-child(2n) {
                    background: #fafafa;
                }
            }
            td {
                border: 0;
                padding: 10px 20px;

                &:first-child {
                    font-family: "Gotham Medium";
                }
                &:last-child a {
                    float: right;
                    color: #acacac;
                }
            }
        }
        .schedule-wrap {
            background: #f4f4f4;
            padding: 50px 40px;
            margin: 0 0 40px;

            h3 {
                text-align: left;
                font-size: 18px;
                font-family: "Gotham Medium";
                text-transform: uppercase;

                span {
                    display: inline-block;
                    background: #b6cedb;
                    color: #fff;
                    padding: 10px 20px;
                    font-size: 14px;
                    line-height: 14px;
                    border-radius: 17px;
                    margin-right: 20px;
                    vertical-align: middle;
                }
            }
            table {
                margin: 0 0 50px;
                table-layout: fixed;

                td {
                    background: #fff;
                    text-align: left;
                    padding: 15px 20px;
                    border-color: #f4f4f4;
                    width: 70%;

                    &:last-child {
                        color: #b6cedb;
                        text-align: center;
                        border-left: 1px solid #f4f4f4;
                        width: 30%;
                    }
                }
                &:last-child {
                    margin: 0;
                }
            }
        }
    }

}

.ad-inner-header {
    background: #58595b;
    text-align: center;
    padding: 45px 0;
    margin: 0 0 45px;

    h2 {
        color: #fff;
        text-transform: uppercase;
        font-family: "Gotham Medium";
        margin: 0;
        font-size: 16px;
    }
}

.ad-sec-header {
    background: #f4f4f4;
    padding: 25px;
    border-bottom: 2px solid #d9d9d9;
    overflow: hidden;

    h3 {
        color: #000;
        text-transform: uppercase;
        font-family: "Gotham Medium";
        margin: 0;
        font-size: 16px;
        overflow: hidden;
        line-height: 40px;
        float: left;
    }
    p {
        margin: 0 !important;
        line-height: 40px;
        clear: both;
    }
    & > a {
        float: right;
    }
}

.ad-section {
    border: 1px solid #f1f1f1;
    padding: 30px 30px 10px;
    border-bottom-width: 2px;
    margin-bottom: 30px;

    &.alt {
        background: rgba(234, 202, 121, 0.3);
    }
    &.no-padding {
        padding: 0;
    }
}

.search-page-wrap {
    background: #f4f4f4;
    padding: 45px 40px;

    .post-item {
        padding: 0 0 20px;
        margin: 0 0 20px;
        border-bottom: 1px solid #dcdcdc;

        h5 {
            font-size: 16px;
            color: #000;
            font-family: "Gotham Medium";
            margin: 0;
        }
        p {
            color: #5d5d5d;
            font-size: 14px;
            font-family: "Gotham Book";
        }
        .btn {
            padding: 5px 10px;
            font-size: 11px;
        }
    }
    .load-more {
        text-align: center;

        .btn {
            padding: 15px 25px;
            font-size: 14px;
            margin: 30px 0 20px;
        }
    }
}

.volunteer-request {
    article {
        background: #f4f4f4;
        padding: 45px 40px;
        height: 100%;

        p {
            margin: 0 0 30px;
        }
    }
    .row {
        margin-bottom: 50px;
    }
}

.contact-page {

    .container {
        margin-bottom: 40px;
    }
    .map {
        height: 370px;
        background: url('../images/map.jpg') no-repeat;
        margin-top: -50px;
        position: relative;
        margin-bottom: 50px;
        background-size: cover;

        address {
            position: absolute;
            bottom: 20px;
            left: 10%;
            background: #fff;
            padding: 30px;
            max-width: 230px;

            h5 {
                text-transform: uppercase;
                font-size: 18px;
                margin: 0 0 20px;
            }
            p {
                margin: 0;
            }
        }
    }
    .info {
        padding: 0 50px;
        height: 100%;
        margin: 0 0 25px;

        h4 {
            font-size: 18px;
            text-transform: uppercase;
            padding: 0 0 10px;
            margin: 0 0 15px;
            border-bottom: 2px solid #b6cedb;
        }
        p {
            margin: 0 0 15px;
        }
        &.alt {
            background: #f4f4f4;
            padding: 50px;
            margin: 0;

            p {
                margin: 0;
            }
        }
    }
}

.vip-designations {

    .intro {
        margin: 0 0 50px;

        p {
            margin: 0 0 30px;

            &:last-child {
                margin: 0;
            }
        }
        h6 {
            font-size: 16px;
            font-family: "Gotham Book";
            margin: 0;
        }
    }
    .types-wrap {
        padding: 70px 0;
        background: #f4f4f4;
        text-align: center;
        margin: 0 0 50px;

        .icon {
            margin: 0 0 30px;
        }
        h5 {
            font-family: "Gotham Bold";
            margin: 0 0 20px;
        }
        p {
            font-size: 14px;
            margin: 0 0 20px;
            line-height: 24px;

            &:last-child {
                margin: 0;
            }
        }
    }
    .form-box {
        background: #f4f4f4;
        padding: 50px;
        margin: 0 0 50px;
    }
    .section-heading {
        margin-bottom: 40px;
    }
}

.data-table {
    margin: 0 0 40px;
    width: 100%;

    thead {
        background: #e6e6e6;

        tr {
            border: 0;

            th {
                padding: 30px;
                border: 0;
            }
        }
    }
    tbody {
        border: 1px solid #e6e6e6;

        tr {

            td {
                padding: 30px;
                vertical-align: middle;

                a {
                    margin: 0 0 0 20px;

                    &.del {
                        color: red;
                    }
                    &.edit {
                        color: #b6cedb;
                    }
                }
                &:last-child {
                    text-align: right;
                }
            }
        }
    }
    &.alt {
        thead {
            background: #fafafa;

            tr th {
                padding: 15px;
            }
        }
        tbody {
            border-right: 0;
            border-left: 0;

            tr {
                td {
                    padding: 15px;
                    border-bottom: 1px solid #f1f1f1;
                }
                &:last-child {
                    td {
                        border: 0;
                    }
                }
            }
        }
    }
    &.colored {
        //tbody {
        //    background: rgba(234, 202, 121, 0.3);
        //
        //    tr td {
        //        border-color: #b6cedb;
        //    }
        //}
    }
    &.no-actions {
        tbody tr td {
            text-align: left;
        }
    }
}

.exhibitor-passes {

    .info {
        background: #f4f4f4;
        padding: 50px;
        margin-bottom: 30px;

        p {
            font-size: 16px;

            &:last-child {
                margin: 0;
            }
        }
        &.filled {
            background: #b6cedb;

            p {
                margin-bottom: 40px;
                color: #000;
                padding: 0 100px;
            }
        }
    }
    .icon {
        margin: 40px 0;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .critical-info {
      p {
        color: #af0202;
      }
    }
    form {
        max-width: 760px;
        margin: 30px auto 30px;

        .select-custom {
            width: calc(100% - 448px);
            float: left;
            margin: 0;

            select {
                height: 70px;
                font-size: 16px;
            }
            &:after {
                top: 32px;
            }
        }
        .file-trigger {
            float: left;
            position: relative;

            button {
        margin: 0;
        padding: 25px 0 26px;
        border: 0;
        width: 277px;
        background: #b6cedb;
        font-size: 12px;
        white-space: pre-line;
        max-height: 69px;
      }
            input.error+button {
                background: red;
            }
            input[type=file] {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }
        input[type=submit] {
            float: right;
            padding: 25px 0 26px;
            border: 0;
            width: 171px;
            max-width: 171px;

            &[disabled=disabled] {
                font-size: 14px;
            }
        }
    }
    .white-box {
        background: #fff;
        padding: 30px;
        margin: 40px 0 0;

        .icon {
            margin-bottom: 15px;
        }
        h5 {
            margin-bottom: 20px;
        }
        .btn {
            background: #e6e6e6;

            i {
                color: rgba(234, 202, 121, 0.3);
                margin-right: 5px;
            }
        }
    }
    .content-box {
        background: #f4f4f4;
        padding: 50px;
        text-align: center;

        form {
            background: #fff;
            padding: 15px;
            max-width: 500px;
        }
    }
    .list-points {
        padding: 50px 100px 0;

        h3 {
            margin: 0 0 40px;
        }
        ul {
            margin: 0;
            padding: 0;
            counter-reset: my-counter;

            li {
                list-style: none;
                text-align: left;
                padding-left: 75px;
                position: relative;
                margin-bottom: 30px;
                min-height: 50px;
                counter-increment: my-counter;

                &:before {
                    content: counter(my-counter);
                    display: block;
                    width: 50px;
                    height: 50px;
                    background: #e6e6e6;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    text-align: center;
                    line-height: 50px;
                    font-weight: 700;
                    font-size: 24px;
                    color: #a1a1a1;
                }
            }
        }
        .btn {
            background: #e6e6e6;
        }
    }
}

.booth-design {

    .info {
        margin-bottom: 30px;

        p {
            font-size: 16px;

            &:last-child {
                margin: 0;
            }
        }
    }
    .box {
        background: #f4f4f4;
        padding: 60px 50px;
        margin: 40px 0 70px;

        h6 {
            text-transform: uppercase;
            font-size: 14px;
            margin: 0 0 35px;
        }
        h4 {
            text-transform: uppercase;
            font-size: 18px;
            color: #b6cedb;
            margin: 0 0 10px;
        }
        h3 {
            font-family: "Gotham Medium";
            text-transform: uppercase;
            margin: 0 0 35px;
        }
        .avatar {
            display: block;
            /*height:100%;*/
            float: left;
            margin: 0 35px 0 0;
            border-radius: 50%;
            overflow: hidden;
        }
        .data {
            float: left;
            /*height:100%;*/
	    margin-top: 35px;
        }
        &.booth-info {
            background-color: #16479f;
            max-width: 450px;
            width: 100%;
            padding: 50px;
            min-height: 350px;
            margin: 0 auto;
            h2 {
                font-family: "Gotham Bold", Arial, Helvetica, sans-serif;
                margin: 0 0 85px;
                font-size: 100px;
                color: #fff;
                text-transform: uppercase;
            }
            h3 {
                font-family: "Gotham Book", Arial, Helvetica, sans-serif;
                text-transform: capitalize;
                margin: 0;
                font-weight: 400;
                color: #fff;
                strong {
                    text-transform: uppercase;
                    font-family: "Gotham Bold", Arial, Helvetica, sans-serif;
                }
            }
        }
    }
    .box-filled {
        background: rgba(234, 202, 121, 0.3);
        padding: 50px;
        text-align: center;
        margin-bottom: 40px;

        .icon {
            margin: 0 0 20px;
            display: block;
        }
        p {
            line-height: 20px;
            min-height: 20px;
            margin: 0 0 20px;
        }
        .download-btn {
            border: 1px solid #000;
            font-size: 12px;
            display: inline-block;
            padding: 5px 10px;
        }
    }

}

.shipping-page {
    padding: 20px 0 0;

    .info {
        margin-bottom: 30px;

        p {
            font-size: 16px;
        }
    }
    .ad-partner-wrap {
        margin: 0 0 50px;

        .ad-partner {
            background: #f4f4f4;
            padding: 50px;
            height: 100%;

            h4 {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 20px;
                margin: 0 0 40px;
            }
            h5 {
                color: #b6cedb;
                font-size: 18px;
                font-weight: 600;
                line-height: 18px;
                margin: 25px 0 10px;
                text-transform: uppercase;
            }
            .avatar {
                width: 78px;
                border-radius: 50%;
                overflow: hidden;
            }
            address {
                font-size: 14px;
                margin: 0;
            }
        }
    }
    .content-box {
        margin: 0 0 40px;

        article {
            padding: 50px 70px 50px 50px;
            background: #f4f4f4;
            height: 100%;

            p {
                margin: 0 0 20px;
                line-height: 24px;

                *:last-child {
                    margin: 0;
                }
            }
        }
        figure {
            height: 100%;
            margin: 0;

            img {
                width: 100%;
            }
        }
    }
    .box-filled {
        background: rgba(234, 202, 121, 0.3);
        padding: 50px 160px;
        text-align: center;

        .icon {
            margin: 0 0 20px;
            display: block;
            min-height: 64px;
        }
        h4 {
            margin: 0 0 25px;
        }
        & > h4 {
            margin-bottom: 40px;
        }
        .download-btn {
            border: 1px solid #000;
            font-size: 12px;
            display: inline-block;
            padding: 5px 10px;
        }
    }
}

.communications-page {
    padding: 20px 0 0;

    #gallery-communication-preview {
        margin: 0 0 20px;
    }
    .info {
        margin-bottom: 30px;

        p {
            font-size: 16px;
        }
    }
    .ad-partner-wrap {
        margin: 0 0 50px;

        .ad-partner {
            background: #f4f4f4;
            padding: 50px;
            height: 100%;

            h4 {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 20px;
                margin: 0 0 40px;
            }
            h5 {
                color: rgba(234, 202, 121, 0.3);
                font-size: 18px;
                font-weight: 600;
                line-height: 18px;
                margin: 25px 0 10px;
                text-transform: uppercase;
            }
            address {
                font-size: 14px;
                margin: 0;
            }
        }
    }
    .icons-box {
        padding: 50px 50px 25px;
        background: #f4f4f4;
        margin: 0 0 40px;

        h3 {
            margin-bottom: 40px;
        }
        ul {
            margin: 0 0 25px;

            li {
                color: #58595b;
            }
        }
        p {
            overflow: hidden;
            margin: 0 0 25px;

            .icon {
                width: 40px;
                height: 40px;
                display: inline-block;
                margin-right: 25px;
                float: left;

                &.icon18 {
                    background: url('../images/icon18.png') no-repeat;
                }
                &.icon19 {
                    background: url('../images/icon19.png') no-repeat;
                }
                &.icon20 {
                    background: url('../images/icon20.png') no-repeat;
                }
                &.icon21 {
                    background: url('../images/icon21.png') no-repeat;
                }
                &.icon22 {
                    background: url('../images/icon22.png') no-repeat;
                }
                &.icon23 {
                    background: url('../images/icon23.png') no-repeat;
                }
                &.icon24 {
                    background: url('../images/icon24.png') no-repeat;
                }
                &.icon25 {
                    background: url('../images/icon25.png') no-repeat;
                }
                &.icon26 {
                    background: url('../images/icon26.png') no-repeat;
                }
            }
        }
    }
    .content-box {
        margin: 0 0 40px;

        h4 {
            text-align: center;
        }
        article {
            padding: 50px 70px 50px 50px;
            background: #f4f4f4;
            height: 100%;

            p {
                margin: 0 0 20px;

                *:last-child {
                    margin: 0;
                }
            }
        }
        figure {
            height: 100%;
            margin: 0;

            img {
                width: 100%;
            }
        }
    }
    .social-media {
        background: rgba(234, 202, 121, 0.3);
        padding: 50px 0;
        margin: 0 0 40px;

        h5 {
            font-size: 24px;
        }
        p {
            color: #000;

            &.first {
                margin: 0 0 30px;
            }
            &.last {
                margin: 30px 0 0;
            }
        }
        .icon {
            width: 75px;
            height: 75px;
            margin: 0 auto 20px;

            &.fb {
                background: url('../images/social1.png') no-repeat;
                background-size: cover;
            }
            &.tw {
                background: url('../images/social2.png') no-repeat;
                background-size: cover;
            }
            &.it {
                background: url('../images/social3.png') no-repeat;
                background-size: cover;
            }
        }
    }
}

.travel-page {
    .content-box {
        padding: 50px 70px 50px 50px;
        background: #f4f4f4;
        margin: 0 0 40px;

        h3 {
            margin: 0;
        }
        figure {
            margin: 30px 0 0;
            text-align: center;
        }
        article {
            margin: 30px 0;
        }
    }
    .box-filled {
        background: rgba(234, 202, 121, 0.3);
        padding: 50px 0;
        text-align: center;
        margin: 0 0 40px;

        .icon {
            margin: 0 0 20px;
            display: block;
        }
        p {
            clear: both;
            margin: 0 0 30px;
            color: #333;
        }
        h4 {
            margin: 0 0 25px;
            font-size: 14px;
            font-weight: 600;
        }
        ul {
            margin: 0 0 30px;
            padding: 0 50px;
            width: 25%;
            float: left;

            li {
                list-style: none;
                font-size: 14px;
                color: #333;
                line-height: 24px;
            }
        }
        .download-btn {
            border: 1px solid #000;
            font-size: 12px;
            display: inline-block;
            padding: 5px 10px;
        }
        p:last-child {
            margin: 0;
        }
    }
    .image-box {
        text-align: center;

        img {
            display: block;
            margin: 0 0 30px;
        }
        h5 {
            font-size: 24px;
            text-transform: uppercase;
        }
        h6 {
            color: #6e6e6e;
            font-size: 14px;
            margin: 0 0 45px;
        }
    }
}

.image-library {
    figure {
        margin: 0;
        background: #f1f1f1;

        img {
            margin: 0 auto;
        }
        &.image-box {
            height: 600px;

            img {
                height: 100%;
            }
        }
    }
    .edit-form {
        background: #f4f4f4;
        padding: 50px;

        textarea {
            height: 150px;
        }
        .checkbox {
            input[type=checkbox] {
                left: 0;
                margin-left: 0;
            }
        }
    }
    .upload-form {
        background: #f4f4f4;
        padding: 50px;
        margin: 0 0 40px;

        h4 {
            font-size: 18px;
            color: #b6cedb;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0 0 10px;
        }
        p {
            margin: 0 0 10px;
            font-size: 12px;
        }
        .dropzone-wrap {
            background: #fff;
            padding: 20px;
            margin-right: 20px;
        }
        fieldset:last-child {
            margin-bottom: 0;
        }
        .checkbox {
            input[type=checkbox] {
                left: 0;
                margin-left: 0;
            }
        }
    }
    .info {
        background: #f4f4f4;
        padding: 50px;
        text-align: center;
        margin: 0 0 40px;

        p {
            margin: 0;
        }
    }
    .image-gallery {
        h4 {
            margin: 0 0 30px;
        }
        figure {
            position: relative;
            margin-bottom: 30px;

            .overlay {
                background: rgba(0,0,0,0.5);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                display: none;

                p {
                    color: #fff;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);

                    a {
                        display: inline-block;
                        padding: 5px 10px;
                        border: 1px solid #fff;
                        margin: 20px 0 0;

                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }
            span.label {
                position: absolute;
                top: 10px;
                left: 10px;
                font-size: 12px;
            }
            &:hover .overlay {
                display: block;
            }
        }
    }
}

.gallery-profile-page {
    h6 {
        font-size: 14px;
        color: #333;
        font-weight: 600;
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 10px;
    }
    p {
        margin: 0 0 25px;
    }
    //.alt h6 {
    //    border-color: #b6cedb;
    //}
    .data-table {
        margin: 0;
    }
}

.catalogue-entry-page {
    .info {
        background: #f4f4f4;
        padding: 50px;
        margin-bottom: 30px;

        p {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }
    .gallery-info {
        padding: 0 100px;
        margin: 0 0 30px;

        h6 {
            font-size: 14px;
            color: rgba(234, 202, 121, 0.3);
            font-weight: 600;
            border-bottom: 1px solid #eaeaea;
            padding-bottom: 10px;
        }
    }
    .upload-form {
        h4 {
            font-size: 18px;
            color: rgba(234, 202, 121, 0.3);
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
            margin: 0 0 10px;
        }
        p {
            margin: 0 0 10px;
            font-size: 12px;
        }
        fieldset:last-child {
            margin-bottom: 0;
        }
    }
}

/* Footer */

.footer_menu .newsletter {
  background-color: #b6cedb;
}

/* Confirmation Popup */

#confirmation-popup {
    .modal-dialog {
        max-width: 700px;
        margin: 100px auto 0;
        .modal-content {
            padding: 50px;
            .modal-header {
                margin-bottom: 30px;
                padding:0;
                h3 {
                    text-transform: capitalize;
                    font-family: 'Gotham Book';
                    font-size: 20px;
                }
                .preview {
                    margin: 30px 0 0;
                    h2 {
                        font-family: 'Gotham Bold';
                        text-transform: uppercase;
                        font-size: 24px;
                        margin: 0;
                        small {
                            font-family: 'Gotham Book';
                            text-transform: capitalize;
                        }
                    }
                }
            }
            .modal-body {
                input.error {
                    border-color:red;
                    & + label {
                        color: red;
                    }
                }
                .bootstrap-select {
                    .dropdown-toggle {
                        padding: 12px;
                        font-size: 14px;
                        color: #333;
                        text-transform: capitalize;
                        border-color: #ccc;
                    }
                    .dropdown-menu {
                        top: 44px;
                    }
                }
            }
            .modal-footer {
                p { margin: 30px 0 0; }
            }
        }
    }
    button.close {
        position:absolute;
        top:2rem;
        right:2rem;
    }
}

/* Slick */

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before {
    display: table;
    content: '';
  }

  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide {
  img {
    display: block;
  }

  &.slick-loading img {
    display: none;
  }

  &.dragging img {
    pointer-events: none;
  }
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Magnific Popup */

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;

  .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
  }
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;

  a {
    color: #CCC;

    &:hover {
      color: #FFF;
    }
  }
}

.mfp-s-ready .mfp-preloader, .mfp-s-error .mfp-content {
  display: none;
}

button {
  &.mfp-close, &.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;

  &:hover, &:focus {
    opacity: 1;
  }

  &:active {
    top: 1px;
  }
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;

  &:active {
    margin-top: -54px;
  }

  &:hover, &:focus {
    opacity: 1;
  }

  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
  }

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
  }

  &:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7;
  }
}

.mfp-arrow-left {
  left: 0;

  &:after {
    border-right: 17px solid #FFF;
    margin-left: 31px;
  }

  &:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F;
  }
}

.mfp-arrow-right {
  right: 0;

  &:after {
    border-left: 17px solid #FFF;
    margin-left: 39px;
  }

  &:before {
    border-left: 27px solid #3F3F3F;
  }
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;

  .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
  }

  .mfp-close {
    top: -40px;
  }
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;

  iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000;
  }
}

img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

.mfp-figure {
  line-height: 0;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444;
  }

  small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px;
  }

  figure {
    margin: 0;
  }
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  .mfp-img-mobile {
    .mfp-image-holder {
      padding-left: 0;
      padding-right: 0;
    }

    img.mfp-img {
      padding: 0;
    }

    .mfp-figure {
      &:after {
        top: 0;
        bottom: 0;
      }

      small {
        display: inline;
        margin-left: 5px;
      }
    }

    .mfp-bottom-bar {
      background: rgba(0, 0, 0, 0.6);
      bottom: 0;
      margin: 0;
      top: auto;
      padding: 3px 5px;
      position: fixed;
      box-sizing: border-box;

      &:empty {
        padding: 0;
      }
    }

    .mfp-counter {
      right: 5px;
      top: 3px;
    }

    .mfp-close {
      top: 0;
      right: 0;
      width: 35px;
      height: 35px;
      line-height: 35px;
      background: rgba(0, 0, 0, 0.6);
      position: fixed;
      text-align: center;
      padding: 0;
    }
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
