@media screen and (max-width: 768px)
{

  .container {
    width: 100%;
  }

  .top-bar-mobile .socialfollow {
    text-align: right;
    padding: 9px;
    margin: 0;
  }

  .btn {
    padding: 15px 20px;
    font-size: 14px;
  }

  fieldset,
  figure {
    margin-bottom: 0;
    &.col4 {
      .intl-tel-input,
      input[type=text],
      input[type=email],
      input[type=tel],
      .form-check,
      .select-custom {
        width: 100%;
        float: none;
        margin: 0 0 10px;
      }
    }
    &.col3 {
      .intl-tel-input,
      input[type=text],
      input[type=email],
      input[type=tel],
      .form-check,
      .select-custom {
        width: 100%;
        float: none;
        margin: 0 0 10px;
      }
    }
    &.col2 {
      .intl-tel-input,
      input[type=text],
      input[type=email],
      input[type=tel],
      .form-check,
      .select-custom {
        width: 100%;
        float: none;
        margin: 0 0 10px;
      }
    }
  }

  .droparea {
    min-height: 115px;
    width: 100%;
    background-size: contain;
  }

  #header.sm-rgt-mn .logo-wrap .logo {
    width: 100%;
    margin: 0 auto;
    text-align: center !important;

    img {
      max-width: 200px;
      height: auto;
    }
  }

  #menu .navbar {
    min-height: 45px;
  }
  #menu button.navbar-toggle {
    margin: 6px 0;
  }
  #menu.header_menu #nav > ul li > ul.sub-menu {
    display: none;
    position: static !important;
    padding: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
  #menu.header_menu .sub-menu li {
    float: none;
  }

  #nav {
    width: 100%;
    max-width: 420px;
    padding: 0;
    margin: 0;
  }
  #nav ul {
    padding: 0;
  }
  #nav ul li {
    width: 100%;
    padding: 0 10px !important;
  }
  #nav ul li.active a {
    color: #fd48a9;
  }

  .ad-page-wrap .section-heading {
    font-size: 20px;
  }

  .ad-authentication-wrap {
    padding: 100px 0;
  }
  .ad-authentication-wrap .login-registration-box .forms,
  .ad-authentication-wrap .login-registration-box .after-forms {
    width: 100%;
  }
  .ad-authentication-wrap .login-registration-box .forms form {
    padding: 30px;
    text-align: center;
  }

  .ad-page-wrap .ad-welcome-header .inner-data {
    padding: 150px 0 30px;
  }
  .ad-page-wrap .ad-welcome-header .inner-data .actions {
    display: none;
  }

  .ad-page-wrap .ad-welcome-data .schedule-wrap {
    padding: 30px;
  }
  .ad-page-wrap .ad-welcome-data .schedule-wrap h3 {
    margin: 0 0 10px;
    text-align: center;
  }
  .ad-page-wrap .ad-welcome-data .schedule-wrap h3 span {
    margin-bottom: 10px;
    display: block;
    margin-right: 0;
  }
  .ad-page-wrap .ad-welcome-data .schedule-wrap table {
    margin-bottom: 30px;
  }

  .ad-sec-header {
    padding: 15px;
  }
  .ad-sec-header h3 {
    font-size: 14px;
  }
  .ad-sec-header p {
    line-height: 20px;
  }

  .ad-section {
    padding: 15px 15px 10px;
    overflow: scroll;
  }

  .vip-designations .form-box {
    padding: 30px;
  }

  .shipping-page .ad-partner-wrap .ad-partner {
    margin: 0 0 10px;
    padding: 30px;
  }
  .shipping-page .content-box article {
    padding: 30px;
  }
  .shipping-page .box-filled {
    padding: 30px;
  }
  .shipping-page .box-filled .download-btn {
    margin-bottom: 20px;
  }

  .booth-design .box {
    padding: 30px;
  }
  .booth-design .box .avatar {
    margin: 0 0 20px;
  }
  .booth-design .box .text-right  {
    text-align: center;
  }
  .booth-design .box-filled .download-btn {
    margin: 0 0 20px;
  }

  .image-library .upload-form {
    padding: 30px;
  }
  .image-library .info {
    padding: 30px;
  }
  .image-library .upload-form .dropzone-wrap {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .image-library .image-gallery figure .overlay {
    background: #fff;
    position: static;
    display: block;
    overflow: hidden;
  }
  .image-library .image-gallery figure .overlay p {
    position: static;
    color: #333;
    transform: none;
    margin: 10px 0 0;
  }
  .image-library .image-gallery figure .overlay p a {
    margin: 10px 0 0;
    border-color: #333;
  }
  .image-library figure.image-box {
    height: auto;
  }
  .image-library figure.image-box img {
    height: auto;
    max-width: 100%;
  }
  .image-library .edit-form {
    padding: 30px;
  }

  .communications-page .icons-box {
    padding: 30px 30px 20px;
  }
  .communications-page .content-box article {
    padding: 30px;
  }

  .travel-page .box-filled {
    padding: 30px 0 10px;
  }
  .travel-page .box-filled .download-btn {
    margin: 0 0 20px;
  }
  .travel-page .content-box {
    padding: 30px;
  }
  .travel-page .box-filled ul {
    margin: 15px 0;
    width: 100%;
  }

  .contact-page .info {
    padding: 0 30px;
  }
  .contact-page .info.alt {
    padding: 30px;
  }
  .contact-page .col-md-2 .info.alt {
    display: none;
    margin-bottom: 20px;
  }

  .exhibitor-passes .info {
    padding: 30px;
  }
  .exhibitor-passes form .select-custom {
    float: none;
    width: 100%;
  }
  .exhibitor-passes form .file-trigger {
    width: 100%;
    float: none;
  }
  .exhibitor-passes form .file-trigger button {
    width: 100%;
  }
  .exhibitor-passes form input[type=submit] {
    width: 100%;
    max-width: none;
  }

}