
.form-group {
    position: relative;
}

label.error {
    color: red;
    text-transform: none;
    font-size: 70%;
    position: absolute;
    bottom: 0;
    right: 10px;
}

input.error {
    border-color: red;
}

.header {
    .navbar-brand {
        b {
            margin-right: 10px;
        }
    }
}

.alert p {
    margin: 0;
    color: #333;
}

.table thead tr th {
    border-top: 0;
}

.tableexport-caption .button-default {
    background: #5c4ac7;
    border: 1px solid #5c4ac7;
    -webkit-box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
    box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.5;
    border-radius: .25rem;
    float: right;
    margin: 30px 0 0;
}

.wysihtml5-sandbox {
    width: 100% !important;
}