.form-group{position:relative}label.error{color:red;text-transform:none;font-size:70%;position:absolute;bottom:0;right:10px}input.error{border-color:red}.header .navbar-brand b{margin-right:10px}.alert p{margin:0;color:#333}.table thead tr th{border-top:0}.tableexport-caption .button-default{background:#5c4ac7;border:1px solid #5c4ac7;-webkit-box-shadow:0 2px 2px 0 rgba(116,96,238,0.14),0 3px 1px -2px rgba(116,96,238,0.2),0 1px 5px 0 rgba(116,96,238,0.12);box-shadow:0 2px 2px 0 rgba(116,96,238,0.14),0 3px 1px -2px rgba(116,96,238,0.2),0 1px 5px 0 rgba(116,96,238,0.12);-webkit-transition:0.2s ease-in;-o-transition:0.2s ease-in;transition:0.2s ease-in;padding:0.75rem 1.5rem;font-size:1.25rem;color:#fff;display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;line-height:1.5;border-radius:.25rem;float:right;margin:30px 0 0}.wysihtml5-sandbox{width:100% !important}
.tooltip-image { display: none; position: absolute; border: 1px solid #333; background-color: #161616; border-radius: 5px; padding: 10px; color: #fff; font-size: 12px Arial; max-width: 300px; } .tooltip-image img{max-width: 100%;}
.booth-container { position: relative; } .booth-container button.editable { position: absolute; border: 0; background: 0; padding: 0px 0; right: 15px; z-index: 3; top: 12px; }.active-field{border: 1px solid black; outline: none; padding: 5px; display: inline-block; z-index: 1; padding-right: 50px; line-height: 1; width: 100%;}
.booth-ajax-info { position: absolute; left: 0; width: 100%; padding: 10px 15px; z-index: 4; }
.fstElement { width: 100%; } .fstMultipleMode .fstControls { padding: 5px; width: 100%; } 
.fstChoiceItem { padding: 0px 10px 0 25px; font-size: 12px; } 
.fstMultipleMode .fstQueryInput { font-size: 12px; } 
.fstResultItem { font-size: 12px; } 
.fstNoResults { font-size: 12px; }